In [2]:
import os
import csv
import pandas as pd
import numpy as np

import datetime
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

from plotly import tools
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import squarify

from sklearn import model_selection, preprocessing, metrics
plt.style.use('fivethirtyeight')

print(os.getcwd())
print(os.listdir("../"))

/Users/divyam/Dev/Data_Science/DSF_Project/AcademicPaperRanking
['AcademicPaperRanking', 'mag_2007.csv', 'mag_2013.csv', '2018.json', 'mag_2012.csv', 'mag_2010.csv', '2014.json', 'mag_2011.csv', '2015.json', '.DS_Store', 'mag_2015.csv', 'mag_2014.csv', 'mag_2016.csv', 'dblp.csv', 'mag_2017.csv', 'sys_argv.py', '2012.json', '2008.json', '2009.json', 'common_progress_kernel.ipynb', 'acm.csv', '2013.json', '2010.json', 'dblp.txt', 'aminer_papers_0.zip', '2007.json', '2016.json', 'mag_2018.csv', 'acm.txt', 'acm_data_processing.py', 'mag_2008.csv', '2017.json', 'mag_2009.csv']

In [3]:
df = pd.read_csv("../mag_2018.csv")

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143303 entries, 8 to 1210998
Data columns (total 16 columns):
Authors             143303 non-null object
Conference          350 non-null object
Citation_count      143303 non-null int64
Date                143303 non-null object
Expected_count      143303 non-null int64
Domain              143048 non-null object
Id                  143303 non-null int64
Journal             142537 non-null object
References          96353 non-null object
Title               143303 non-null object
Venue               143303 non-null object
Words               143302 non-null object
Year                143303 non-null int64
Popularity          143303 non-null float64
Month               143303 non-null int64
Publication_Rank    143303 non-null float64
dtypes: float64(2), int64(5), object(9)
memory usage: 18.6+ MB

In [39]:
df["Popularity"] = df["Popularity"].apply(pd.to_numeric,downcast='float')

In [9]:
def get_block_avg_usage(df):
    for dtype in ['float','int','object']:
        selected_dtype = df.select_dtypes(include=[dtype])
        mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
        mean_usage_mb = mean_usage_b / 1024 ** 2
        print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))
        del mean_usage_b, mean_usage_mb, selected_dtype

In [6]:
df.head(5)

,Unnamed: 0,AA,C,CC,D,ECC,F,Id,J,RId,Ti,VFN,W,Y,kesEntityId,logprob
0,0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064
1,1,"[{'S': 1, 'AuId': 2618360078, 'AfN': 'technica...",NaN,1787,2018-02-23,1787,"[{'FId': 2779853757, 'FN': 'penicillic acid'},...",2789134836,"{'JN': 'world mycotoxin journal', 'JId': 70096...","[2073569767, 1989318771, 2109782899, 214495155...",a critical review of producers of small lacton...,World Mycotoxin Journal,"['acid', 'critical', 'lactone', 'moniliformin'...",2018,1349261,-16.192
2,2,"[{'AuId': 2498139363, 'S': 1, 'AuN': 'r r m pa...",NaN,1785,2018-03-01,1785,"[{'FId': 2779550045, 'FN': 'patulin'}, {'FId':...",2786183769,"{'JN': 'int j food microbiol', 'JId': 132626406}",NaN,alternative patulin pathway unproven,International Journal of Food Microbiology,"['alternative', 'pathway', 'patulin', 'unproven']",2018,1350611,-16.193
3,3,"[{'S': 1, 'AuId': 2127898042, 'AfN': 'google',...",NaN,1957,2018-04-01,1957,"[{'FId': 65885262, 'FN': 'scale space segmenta...",2412782625,"{'JN': 'pami', 'JId': 199944782}","[1686810756, 2618530766, 2194775991, 209711776...",deeplab semantic image segmentation with deep ...,IEEE Transactions on Pattern Analysis and Mach...,"['atrous', 'connected', 'convolution', 'convol...",2018,1635532,-16.388
4,4,"[{'S': 1, 'AuId': 2761591088, 'AfN': 'leiden u...",NaN,293,2018-08-01,293,"[{'FId': 2778316820, 'FN': 'photometric system...",2798336535,"{'JN': 'astron astrophys', 'JId': 205231332}","[2011301426, 2142220522, 2061939373, 205293750...",gaia data release 2 summary of the contents an...,Astronomy and Astrophysics,"['2', 'contents', 'data', 'gaia', 'properties'...",2018,1744805,-16.455

In [7]:
# Make more sensible column names
rename_dict = {"AA": "Authors", 
               "C": "Conference", 
               "CC": "Citation_count",
               "ECC": "Expected_count",
               "D": "Date", 
               "F": "Domain", 
               "J": "Journal", 
               "RId": "References", 
               "Ti": "Title", 
               "VFN": "Venue", 
               "W": "Words", 
               "Y": "Year", 
               "logprob":"Popularity",
               "Unnamed: 0": "Row_num"}
df.rename(index=str, columns=rename_dict, inplace=True)

In [8]:
df.select_dtypes(include="number").describe()

,Row_num,Citation_count,Expected_count,Id,Year,kesEntityId,Popularity
count,1.211000e+06,1.211000e+06,1.211000e+06,1.211000e+06,1211000.0,1.211000e+06,1.211000e+06
mean,6.054995e+05,1.064620e+00,1.064997e+00,2.797143e+09,2018.0,2.260905e+08,-2.118847e+01
std,3.495857e+05,1.755177e+01,1.755261e+01,1.486480e+08,0.0,9.040128e+07,6.017534e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,4.727120e+05,2018.0,1.190005e+06,-2.200200e+01
25%,3.027498e+05,0.000000e+00,0.000000e+00,2.785024e+09,2018.0,1.142518e+08,-2.167500e+01
50%,6.054995e+05,0.000000e+00,0.000000e+00,2.799726e+09,2018.0,2.779343e+08,-2.129900e+01
75%,9.082492e+05,1.000000e+00,1.000000e+00,2.883550e+09,2018.0,2.864866e+08,-2.081000e+01
max,1.210999e+06,6.651000e+03,6.651000e+03,2.898614e+09,2018.0,2.941568e+08,-1.606400e+01

In [9]:
df.select_dtypes(exclude="number").describe()

,Authors,Conference,Date,Domain,Journal,References,Title,Venue,Words
count,1211000,50789,1211000,1197152,1019164,835626,1211000,1147111,1210997
unique,1145040,1256,363,1105872,18787,828087,1208460,42772,1207408
top,"[{'S': 1, 'AuId': 2617818522, 'AfN': 'beckman ...","{'CN': 'cleo', 'CId': 2623670637}",2018-01-01,"[{'FId': 554144382, 'FN': 'performance art'}, ...","{'JN': 'plos one', 'JId': 202381698}","[2028520323, 1657433554, 2782514705, 273981532...",open access is there a predator at the door,PLOS ONE,"['access', 'door', 'open', 'predator']"
freq,3810,1643,182147,4454,14841,1206,11,14841,11

In [10]:
df[df.duplicated(["Title"])].sort_values(by=["Title"])

,Row_num,Authors,Conference,Citation_count,Date,Expected_count,Domain,Id,Journal,References,Title,Venue,Words,Year,kesEntityId,Popularity
507570,507570,"[{'AuId': 2784299526, 'S': 1, 'AuN': 'matthew ...",NaN,0,2018-01-18,0,"[{'FId': 2778248108, 'FN': 'anemia'}, {'FId': ...",2792264832,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,1 effectiveness of oral iron supplementation i...,Inflammatory Bowel Diseases,"['1', 'anemia', 'colitis', 'effectiveness', 'f...",2018,274768078,-21.147
558615,558615,"[{'AuId': 2784842589, 'S': 1, 'AuN': 'hari k s...",NaN,0,2018-01-01,0,"[{'FId': 117717151, 'FN': 'epigenome'}, {'FId'...",2784548192,"{'JN': 'gastroenterology', 'JId': 143352558}",NaN,10 epigenome wide association study identified...,Gastroenterology,"['10', 'association', 'contributions', 'crohn'...",2018,276377826,-21.226
762005,762005,"[{'AuId': 2288827849, 'S': 1, 'AuN': 'masahiro...",NaN,0,2018-02-08,0,"[{'FId': 115171683, 'FN': 'laser beam quality'...",2787938164,"{'JN': 'japan society applied physics', 'JId':...",NaN,10 w high power and high beam quality pulsed o...,The Japan Society of Applied Physics,"['10', 'beam', 'crystal', 'double', 'emitting'...",2018,282541210,-21.508
636156,636156,"[{'AuId': 2330033061, 'S': 1, 'AuN': 'bharati ...",NaN,0,2018-01-01,0,"[{'FId': 2780101441, 'FN': 'pouch'}, {'FId': 8...",2785775086,"{'JN': 'gastroenterology', 'JId': 143352558}",NaN,11 delayed ileal pouch anal anastomosis has a ...,Gastroenterology,"['11', '30', 'adverse', 'anal', 'anastomosis',...",2018,278869938,-21.343
968830,968830,"[{'AuId': 2313863126, 'S': 1, 'AuN': 'edward l...",NaN,0,2018-01-18,0,"[{'FId': 2778260677, 'FN': 'inflammatory bowel...",2793601311,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,12 high patient activation is associated with ...,Inflammatory Bowel Diseases,"['12', 'activation', 'bowel', 'clinical', 'coh...",2018,288239735,-21.749
996665,996665,"[{'AuId': 2468668054, 'S': 1, 'AuN': 'bruce e ...",NaN,0,2018-01-18,0,"[{'FId': 2778886723, 'FN': 'tofacitinib'}, {'F...",2792177297,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,14 post hoc analysis of tofacitinib crohn s di...,Inflammatory Bowel Diseases,"['14', '2', 'baseline', 'biomarker', 'crohn', ...",2018,288998019,-21.783
523872,523872,"[{'AuId': 2124093779, 'S': 1, 'AuN': 'dalin li...",NaN,0,2018-01-01,0,"[{'FId': 84597430, 'FN': 'locus'}, {'FId': 230...",2783148383,"{'JN': 'gastroenterology', 'JId': 143352558}",NaN,16 genetic analysis identified novel loci asso...,Gastroenterology,"['16', 'genetic', 'ibd', 'identified', 'loci',...",2018,275294553,-21.173
725820,725820,"[{'AuId': 2787812110, 'S': 1, 'AuN': 'connie w...",NaN,0,2018-01-01,0,"[{'FId': 174749747, 'FN': 'single cell sequenc...",2786317888,"{'JN': 'gastroenterology', 'JId': 143352558}",NaN,17 single cell sequencing of creeping fat in c...,Gastroenterology,"['17', 'bacteria', 'cell', 'cellular', 'cluste...",2018,281561544,-21.463
947431,947431,"[{'AuId': 2287326182, 'S': 1, 'AuN': 'laurent ...",NaN,0,2018-01-18,0,"[{'FId': 2777061241, 'FN': 'etrolizumab'}, {'F...",2791922733,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,20 etrolizumab improved endoscopic score patie...,Inflammatory Bowel Diseases,"['20', 'antagonist', 'biomarkers', 'cohort', '...",2018,287560238,-21.722
118676,118676,"[{'S': 1, 'AuId': 2138456590, 'AfN': 'universi...",NaN,2,2018-01-01,2,"[{'FId': 84393581, 'FN': 'blood pressure'}, {'...",2785069458,"{'JN': 'j am soc hypertens', 'JId': 114425954}","[2768267412, 2612462276, 2555057407, 1990090475]",2017 acc aha aapa abc acpm ags apha ash aspc n...,Journal of The American Society of Hypertension,"['2017', 'aapa', 'abc', 'acc', 'acpm', 'adults...",2018,80162441,-20.371
582544,582544,"[{'AuId': 275226674, 'S': 1, 'AuN': 'victor ab...",NaN,0,2018-02-01,0,"[{'FId': 2777010666, 'FN': 'vascular surgery'}...",2811214422,"{'JN': 'rev espan cardiol', 'JId': 69770752}",NaN,2017 esc guidelines on the diagnosis and treat...,Revista Espanola De Cardiologia,"['2017', 'arterial', 'collaboration', 'diagnos...",2018,277207477,-21.264
487885,487885,"[{'AuId': 281378502, 'S': 1, 'AuN': 'joseph e ...",NaN,0,2018-07-01,0,"[{'FId': 2776570981, 'FN': 'aortic valve repla...",2887673224,"{'JN': 'ann thorac surg', 'JId': 144860794}",NaN,2018 aats acc scai sts expert consensus system...,The Annals of Thoracic Surgery,"['2018', 'aats', 'acc', 'american', 'angiograp...",2018,274061683,-21.113
1083764,1083764,"[{'AuId': 2156506406, 'S': 1, 'AuN': 'randal j...",NaN,1,2018-04-01,1,"[{'FId': 141571065, 'FN': 'performance measure...",2794587527,"{'JN': 'circ cardiovasc qual outcomes', 'JId':...","[2168536722, 2112380741, 2119340816, 216534965...",2018 acc aha clinical performance and quality ...,Circulation-cardiovascular Quality and Outcomes,"['2018', 'acc', 'aha', 'american', 'associatio...",2018,291316435,-21.881
986621,986621,"[{'AuId': 1755692001, 'S': 1, 'AuN': 'michele ...",NaN,0,2018-08-14,0,"[{'FId': 177713679, 'FN': 'intensive care medi...",2886002658,"{'JN': 'kardiologia polska', 'JId': 164277434}",NaN,2018 esc guidelines for the diagnosis and mana...,Kardiologia Polska,"['2018', 'diagnosis', 'esc', 'guidelines', 'ma...",2018,288746689,-21.772
29475,29475,"[{'AuId': 2091972732, 'S': 1, 'AuN': 'clare l ...",NaN,1,2018-03-01,1,"[{'FId': 2781170992, 'FN': 'acl injury'}, {'FI...",2793107200,NaN,"[2028770837, 1989831107, 2168448906, 212011082...",2018 international olympic committee consensus...,Journal of ISAKOS: Joint Disorders & Orthopaed...,"['2018', 'acl', 'anterior', 'committee', 'cons...",2018,41797660,-19.725
761688,761688,"[{'AuId': 2104469246, 'S': 1, 'AuN': 'christia...",NaN,0,2018-07-01,0,"[{'FId': 2522767166, 'FN': 'data science'}, {'...",2806899772,"{'JN': 'bioinformatics', 'JId': 52395412}",NaN,2018 iscb innovator award recognizes m madan babu,Bioinformatics,"['2018', 'award', 'babu', 'innovator', 'iscb',...",2018,282533407,-21.508
768453,768453,"[{'AuId': 2104469246, 'S': 1, 'AuN': 'christia...",NaN,0,2018-06-07,0,"[{'FId': 189206191, 'FN': 'genomics'}, {'FId':...",2805982132,"{'JN': 'plos comput biol', 'JId': 86033158}",NaN,2018 iscb overton prize awarded to cole trapnell,PLOS Computational Biology,"['2018', 'awarded', 'cole', 'iscb', 'overton',...",2018,282699777,-21.515
762675,762675,"[{'AuId': 2121131534, 'S': 1, 'AuN': 'frank i ...",NaN,0,2018-01-18,0,"[{'FId': 2776207728, 'FN': 'vedolizumab'}, {'F...",2791132698,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,21 what is the most cost effective position of...,Inflammatory Bowel Diseases,"['21', 'algorithm', 'colitis', 'cost', 'curren...",2018,282558196,-21.509
703104,703104,"[{'AuId': 1963982607, 'S': 1, 'AuN': 'ryan ung...",NaN,0,2018-01-18,0,"[{'FId': 2776667177, 'FN': 'colectomy'}, {'FId...",2792113909,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,23 emergent colectomy rates decreased while el...,Inflammatory Bowel Diseases,"['23', 'colectomy', 'decreased', 'elective', '...",2018,280882994,-21.434
459470,459470,"[{'AuId': 2784636485, 'S': 1, 'AuN': 'soumya k...",NaN,0,2018-01-18,0,"[{'FId': 2780479503, 'FN': 'ulcerative colitis...",2790680340,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,24 higher body mass index is associated with i...,Inflammatory Bowel Diseases,"['24', 'biologic', 'body', 'colitis', 'failure...",2018,273159722,-21.067
30468,30468,"[{'AuId': 2093440839, 'S': 1, 'AuN': 'lee a de...",NaN,0,2018-01-18,0,"[{'FId': 2779576771, 'FN': 'neutrophil granulo...",2790586857,"{'JN': 'inflamm bowel dis', 'JId': 45123234}",NaN,27 clinical and genomic correlates of neutroph...,Inflammatory Bowel Diseases,"['27', 'clinical', 'colony', 'correlates', 'cr...",2018,42300829,-19.737
787971,787971,"[{'AuId': 2126308750, 'S': 1, 'AuN': 'kaustav ...",NaN,0,2018-03-09,0,NaN,2783175216,"{'JN': 'bulletin american physical society', '...",NaN,2d materials for smart life,Bulletin of the American Physical Society,"['2d', 'life', 'materials', 'smart']",2018,283289949,-21.539
1162598,1162598,"[{'S': 1, 'AuId': 2807660296, 'AfN': 'national...","{'CN': 'wocc', 'CId': 1174359516}",0,2018-04-01,0,"[{'FId': 65914096, 'FN': 'nyquist rate'}, {'FI...",2805787476,NaN,NaN,43 63 gbit s multiple user sc fdma pon with su...,Wireless and Optical Communications Conference,"['43', '63', 'fdma', 'gbit', 'multiple', 'nyqu...",2018,293241645,-21.962
1089911,1089911,"[{'AuId': 2257416514, 'S': 1, 'AuN': 'philip j...",NaN,0,2018-11-01,0,"[{'FId': 555293320, 'FN': 'diabetes mellitus'}...",2896537843,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in,The Journal of Pediatrics,"['50', 'ago', 'years']",2018,291471543,-21.888
1203857,1203857,"[{'AuId': 2888435845, 'S': 1, 'AuN': 'simon la...",NaN,0,2018-09-01,0,"[{'FId': 126322002, 'FN': 'internal medicine'}...",2888461884,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in t j o p,The Journal of Pediatrics,"['50', 'ago', 'j', 'o', 'p', 't', 'years']",2018,293962602,-21.993
1089574,1089574,"[{'AuId': 2257416514, 'S': 1, 'AuN': 'philip j...",NaN,0,2018-10-01,0,"[{'FId': 126322002, 'FN': 'internal medicine'}...",2891440065,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in t j p,The Journal of Pediatrics,"['50', 'ago', 'j', 'p', 't', 'years']",2018,291464327,-21.888
1203264,1203264,"[{'AuId': 2889689790, 'S': 1, 'AuN': 'jonathan...",NaN,0,2018-10-01,0,"[{'FId': 126322002, 'FN': 'internal medicine'}...",2889698678,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in t j p,The Journal of Pediatrics,"['50', 'ago', 'j', 'p', 't', 'years']",2018,293946623,-21.993
1203598,1203598,"[{'AuId': 2888503429, 'S': 1, 'AuN': 'stephann...",NaN,0,2018-09-01,0,"[{'FId': 126322002, 'FN': 'internal medicine'}...",2888275871,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in t j p,The Journal of Pediatrics,"['50', 'ago', 'j', 'p', 't', 'years']",2018,293956057,-21.993
1203687,1203687,"[{'AuId': 2890870603, 'S': 1, 'AuN': 'sarah s ...",NaN,0,2018-10-01,0,"[{'FId': 126322002, 'FN': 'internal medicine'}...",2889936469,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in t j p,The Journal of Pediatrics,"['50', 'ago', 'j', 'p', 't', 'years']",2018,293958401,-21.993
1200391,1200391,"[{'AuId': 2579647842, 'S': 1, 'AuN': 'giordano...",NaN,0,2018-11-01,0,"[{'FId': 126322002, 'FN': 'internal medicine'}...",2898043599,"{'JN': 'j pediat', 'JId': 3774022}",NaN,50 years ago in t j p,The Journal of Pediatrics,"['50', 'ago', 'j', 'p', 't', 'years']",2018,293872563,-21.989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401647,401647,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,0,2018-01-01,0,"[{'FId': 2778653478, 'FN': 'kidney disease'}, ...",2797094253,NaN,"[2151509478, 2133169646, 2233974801, 197300269...",what we do and do not know about women and kid...,Nephrology @ Point of Care,"['answers', 'day', 'diseases', 'international'...",2018,271102799,-20.960
400880,400880,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,0,2018-03-01,0,"[{'FId': 2779978075, 'FN': 'dialysis'}, {'FId'...",2789144167,"{'JN': 'pediatric urology case reports', 'JId'...",NaN,what we do and do not know about women and kid...,Pediatric Urology Case Reports,"['answers', 'day', 'diseases', 'international'...",2018,271072862,-20.959
400833,400833,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,0,2018-01-01,0,"[{'FId': 2778653478, 'FN': 'kidney disease'}, ...",2791359401,{'JN': 'canadian journal kidney health disease...,"[2151509478, 2133169646, 2233974801, 197300269...",what we do and do not know about women and kid...,Canadian journal of kidney health and disease,"['answers', 'day', 'diseases', 'international'...",2018,271071416,-20.959
397936,397936,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,0,2018-01-01,0,"[{'FId': 2779978075, 'FN': 'dialysis'}, {'FId'...",2797053991,{'JN': 'saudi journal kidney diseases transpla...,NaN,what we do and do not know about women and kid...,Saudi Journal of Kidney Diseases and Transplan...,"['answers', 'day', 'diseases', 'international'...",2018,270966645,-20.953
880104,880104,"[{'AuId': 2143436773, 'S': 1, 'AuN': 'giorgina...",NaN,1,2018-02-13,1,"[{'FId': 2780091579, 'FN': 'kidney'}, {'FId': ...",2789236556,"{'JN': 'nephron', 'JId': 87777121}",NaN,what we do and do not know about women and kid...,Nephron,"['answers', 'day', 'diseases', 'international'...",2018,285715075,-21.641
401640,401640,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,0,2018-01-01,0,"[{'FId': 2779978075, 'FN': 'dialysis'}, {'FId'...",2796356703,"{'JN': 'world journal nephrology urology', 'JI...",NaN,what we do and do not know about women and kid...,World Journal of Nephrology and Urology,"['answers', 'day', 'diseases', 'international'...",2018,271102528,-20.960
399938,399938,"[{'S': 1, 'AuId': 2617237132, 'AfN': 'universi...",NaN,0,2018-03-01,0,"[{'FId': 2780091579, 'FN': 'kidney'}, {'FId': ...",2805415089,"{'JN': 'indian journal of nephrology', 'JId': ...",NaN,what we do and do not know about women and kid...,Indian Journal of Nephrology,"['answers', 'day', 'diseases', 'international'...",2018,271034573,-20.957
1016496,1016496,"[{'S': 1, 'AuId': 2889924262, 'AfN': 'universi...",NaN,0,2018-09-06,0,"[{'FId': 170950685, 'FN': 'working class'}, {'...",2889889147,"{'JN': 'twentieth century british history', 'J...",NaN,when the girls come out to play teenage workin...,Twentieth Century British History,"['class', 'come', 'girls', 'katharine', 'leisu...",2018,289581157,-21.807
987040,987040,"[{'S': 1, 'AuId': 2802308831, 'AfN': 'universi...",NaN,0,2018-06-01,0,"[{'FId': 2781439373, 'FN': 'moral agency'}, {'...",2801095213,"{'JN': 'public admin', 'JId': 201221823}",NaN,when the state meets the street public service...,Public Administration,"['agency', 'meets', 'moral', 'public', 'servic...",2018,288757948,-21.772
1094818,1094818,"[{'AuId': 2073933534, 'S': 1, 'AuN': 'annick v...",NaN,0,2018-06-01,0,"[{'FId': 2778094803, 'FN': 'amiodarone'}, {'FI...",2890350104,"{'JN': 'thyroid', 'JId': 27569427}",NaN,white thyroid on unenhanced computed tomograph...,Thyroid,"['2', 'amiodarone', 'computed', 'induced', 'th...",2018,291592103,-21.893
885730,885730,"[{'AuId': 1239124154, 'S': 1, 'AuN': 'uta scho...",NaN,0,2018-08-02,0,"[{'FId': 2778173179, 'FN': 'attendance'}, {'FI...",2886667092,"{'JN': 'j polit econ', 'JId': 95323914}",NaN,who benefits from universal child care estimat...,Journal of Political Economy,"['attendance', 'benefits', 'care', 'child', 'e...",2018,285869136,-21.648
610604,610604,"[{'S': 1, 'AuId': 2095857160, 'AfN': 'geisinge...",NaN,0,2018-07-17,0,"[{'FId': 16671776, 'FN': 'exome sequencing'}, ...",2884312700,"{'JN': 'ann intern med', 'JId': 119722071}","[2562408240, 2594142878, 2443172870, 2783075063]",whole exome sequencing in adults with chronic ...,Annals of Internal Medicine,"['adults', 'chronic', 'disease', 'exome', 'kid...",2018,278086140,-21.307
572398,572398,"[{'AuId': 2106981306, 'S': 1, 'AuN': 'olivier ...",NaN,0,2018-01-01,0,"[{'FId': 2779836051, 'FN': 'corporate tax'}, {...",2795494091,"{'JN': 'policy briefs', 'JId': 2764355177}",NaN,why has the stock market risen so much since t...,Policy briefs,"['election', 'market', 'presidential', 'risen'...",2018,276874073,-21.249
676496,676496,"[{'AuId': 2889040421, 'S': 1, 'AuN': 'brian ya...",NaN,0,2018-09-04,0,"[{'FId': 160735492, 'FN': 'health care'}, {'FI...",2888893915,"{'JN': 'ann intern med', 'JId': 119722071}","[2594370739, 2793892030]",why internists might want single payer health ...,Annals of Internal Medicine,"['care', 'health', 'internists', 'might', 'pay...",2018,280055237,-21.397
954861,954861,"[{'AuId': 1235198840, 'S': 1, 'AuN': 'onur ert...",NaN,0,2018-03-07,0,"[{'FId': 2780061376, 'FN': 'kondo model'}, {'F...",2888422573,"{'JN': 'bulletin american physical society', '...",NaN,why rare earth ferromagnets are so rare insigh...,Bulletin of the American Physical Society,"['earth', 'ferromagnets', 'insights', 'kondo',...",2018,287809749,-21.732
743090,743090,"[{'AuId': 2595483850, 'S': 1, 'AuN': 'wengang ...",NaN,0,2018-03-07,0,"[{'FId': 122865956, 'FN': 'glass transition'},...",2801118900,"{'JN': 'bulletin american physical society', '...",NaN,why we need to look beyond the glass transitio...,Bulletin of the American Physical Society,"['beyond', 'characterize', 'dynamics', 'films'...",2018,282015087,-21.485
688311,688311,"[{'S': 1, 'AuId': 2800819054, 'AfN': 'universi...",NaN,0,2018-01-01,0,"[{'FId': 2777473070, 'FN': 'left bundle branch...",2765489804,"{'JN': 'amer j cardiol', 'JId': 185186944}","[2135161353, 2026083345, 1972918866]",wide qrs complex tachycardia,American Journal of Cardiology,"['complex', 'qrs', 'tachycardia', 'wide']",2018,280409315,-21.413
923827,923827,"[{'AuId': 2549268431, 'S': 1, 'AuN': 'dmitry v...",NaN,0,2018-03-05,0,"[{'FId': 138395690, 'FN': 'cardinal point'}, {...",2793128702,"{'JN': 'bulletin american physical society', '...",NaN,winding numbers of nodal points in fe based su...,Bulletin of the American Physical Society,"['fe', 'nodal', 'numbers', 'points', 'supercon...",2018,286916595,-21.695
263768,263768,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,0,2018-02-01,0,"[{'FId': 2778653478, 'FN': 'kidney disease'}, ...",2792673706,"{'JN': 'nephrol dialysis transplant', 'JId': 1...","[2201264930, 2527824850, 2133169646, 196677252...",women and kidney disease reflections on world ...,Nephrology Dialysis Transplantation,"['2018', 'day', 'disease', 'kidney', 'reflecti...",2018,105183121,-20.733
1052157,1052157,"[{'AuId': 2143436773, 'S': 1, 'AuN': 'giorgina...",NaN,0,2018-03-01,0,"[{'FId': 2778653478, 'FN': 'kidney disease'}, ...",2790265326,"{'JN': 'j hypertension', 'JId': 115964404}",NaN,women and kidney disease reflections on world ...,Journal of Hypertension,"['2018', 'day', 'disease', 'kidney', 'reflecti...",2018,290568249,-21.848
210009,210009,"[{'S': 1, 'AuId': 2143436773, 'AfN': 'universi...",NaN,3,2018-02-01,3,"[{'FId': 2778063415, 'FN': 'hemodialysis'}, {'...",2793120726,"{'JN': 'ndt plus', 'JId': 117236744}","[2201264930, 2527824850, 2133169646, 196677252...",women and kidney disease reflections on world ...,Ndt Plus,"['2018', 'day', 'disease', 'kidney', 'reflecti...",2018,95173033,-20.619
237753,237753,"[{'AuId': 2020092872, 'S': 1, 'AuN': 'mikaela ...",NaN,0,2018-01-01,0,"[{'FId': 2780289447, 'FN': 'disability pension...",2799582571,NaN,NaN,work loss years among people diagnosed with di...,WOS,"['course', 'diabetes', 'diagnosed', 'life', 'l...",2018,99864079,-20.676
822183,822183,"[{'S': 1, 'AuId': 2019649308, 'AfN': 'universi...","{'CN': 'chi', 'CId': 1163450153}",0,2018-04-24,0,"[{'FId': 2778476105, 'FN': 'workload'}, {'FId'...",2898542480,NaN,NaN,workload alerts using physiological measures o...,Human Factors in Computing Systems,"['alerts', 'feedback', 'measures', 'mental', '...",2018,284220607,-21.580
664392,664392,"[{'AuId': 2104528034, 'S': 1, 'AuN': 'adrian w...",NaN,1,2018-06-01,1,"[{'FId': 42219234, 'FN': 'anesthesia'}, {'FId'...",2800299504,"{'JN': 'anesth analg', 'JId': 104698359}",NaN,world health organization world federation of ...,Anesthesia & Analgesia,"['anaesthesiologists', 'anesthesia', 'federati...",2018,279719719,-21.381
900665,900665,"[{'AuId': 2730537839, 'S': 1, 'AuN': 'lei yu'}...","{'CN': 'isit', 'CId': 1197656824}",0,2018-06-01,0,"[{'FId': 2776809875, 'FN': 'converse'}, {'FId'...",2885150101,NaN,NaN,wyner s common information under renyi diverge...,International Symposium on Information Theory,"['common', 'divergence', 'information', 'measu...",2018,286277650,-21.666
676416,676416,"[{'AuId': 2806245782, 'S': 1, 'AuN': 'citation...",NaN,0,2018-01-01,0,"[{'FId': 2776096463, 'FN': 'rosin'}, {'FId': 3...",2805048454,NaN,NaN,you got to love rosin solventless dabs pure cl...,Array,"['clean', 'concentrates', 'dabs', 'data', 'eme...",2018,280053205,-21.397

In [11]:
# df 
df.drop_duplicates(subset=['Title'], inplace=True)

In [17]:
df.isna().sum()

Authors                 0
Conference        1157829
Citation_count          0
Date                    0
Expected_count          0
Domain              13793
Id                      0
Journal            191087
References         373689
Title                   0
Venue               63804
Words                   3
Year                    0
Popularity              0
Month                   0
dtype: int64

In [11]:
df["Conference"].value_counts(dropna=False)

NaN                                         1157829
{'CN': 'cleo', 'CId': 2623670637}              1626
{'CN': 'chi', 'CId': 1163450153}               1467
{'CN': 'icra', 'CId': 1163902177}              1259
{'CN': 'icassp', 'CId': 1121227772}            1137
{'CN': 'icc', 'CId': 1130451194}               1026
{'CN': 'cvpr', 'CId': 1158167855}              1003
{'CN': 'aaai', 'CId': 1184914352}               872
{'CN': 'nips', 'CId': 1127325140}               843
{'CN': 'acc', 'CId': 1190039108}                792
{'CN': 'ijcai', 'CId': 1203999783}              626
{'CN': 'icml', 'CId': 1180662882}               622
{'CN': 'iscas', 'CId': 1192710900}              543
{'CN': 'icse', 'CId': 1174403976}               427
{'CN': 'ccc', 'CId': 2623792093}                414
{'CN': 'interspeech', 'CId': 1177287137}        411
{'CN': 'ofc', 'CId': 2621451516}                404
{'CN': 'naacl', 'CId': 1173951661}              394
{'CN': 'eccv', 'CId': 1124077590}               385
{'CN': 'icip', 'CId': 1163163559}               385
{'CN': 'isit', 'CId': 1197656824}               383
{'CN': 'emnlp', 'CId': 1192655580}              380
{'CN': 'acl', 'CId': 1188739475}                378
{'CN': 'iclr', 'CId': 2584161585}               378
{'CN': 'soco', 'CId': 1123077274}               350
{'CN': 'imtc', 'CId': 2623692773}               323
{'CN': 'wcnc', 'CId': 1163279258}               311
{'CN': 'aamas', 'CId': 1168671587}              298
{'CN': 'hicss', 'CId': 1164519180}              292
{'CN': 'lrec', 'CId': 1164963593}               284
                                             ...
{'CN': 'nems', 'CId': 1185335959}                 1
{'CN': 'icls', 'CId': 2754602532}                 1
{'CN': 'ictai', 'CId': 1153494057}                1
{'CN': 'acct', 'CId': 2898114439}                 1
{'CN': 'cdve', 'CId': 1174839472}                 1
{'CN': 'iccs', 'CId': 1137878512}                 1
{'CN': 'dcoss', 'CId': 1159958186}                1
{'CN': 'group', 'CId': 2606280534}                1
{'CN': 'mlsp', 'CId': 2624449468}                 1
{'CN': 'facs', 'CId': 2760652811}                 1
{'CN': 'icam', 'CId': 2756465430}                 1
{'CN': 'iccad', 'CId': 1128132410}                1
{'CN': 'ew', 'CId': 2754707800}                   1
{'CN': 'icmlc', 'CId': 1120608147}                1
{'CN': 'iedm', 'CId': 2624381848}                 1
{'CN': 'robocup', 'CId': 1170686637}              1
{'CN': 'types', 'CId': 1158234796}                1
{'CN': 'ieom', 'CId': 2754880234}                 1
{'CN': 'icrera', 'CId': 2754280435}               1
{'CN': 'icsim', 'CId': 2898545746}                1
{'CN': 'wads', 'CId': 1149998698}                 1
{'CN': 'rtss', 'CId': 1124527938}                 1
{'CN': 'icgcc', 'CId': 2753964684}                1
{'CN': 'ant', 'CId': 2898121709}                  1
{'CN': 'cmc', 'CId': 1131239835}                  1
{'CN': 'pes', 'CId': 2622411833}                  1
{'CN': 'cccg', 'CId': 1201479284}                 1
{'CN': 'icl', 'CId': 2756321219}                  1
{'CN': 'ecta', 'CId': 1187544676}                 1
{'CN': 'isap', 'CId': 2623387249}                 1
Name: Conference, Length: 1257, dtype: int64

In [12]:
df.iloc[0:1,-1]

0   -16.064
Name: Popularity, dtype: float64

In [13]:
df["kesEntityId"].is_unique

True

In [14]:
df["Id"].is_unique

True

In [13]:
# expected citation count is almost same as citation count
df[df["Citation_count"] != (df["Expected_count"])]

,Row_num,Authors,Conference,Citation_count,Date,Expected_count,Domain,Id,Journal,References,Title,Venue,Words,Year,kesEntityId,Popularity
134,134,"[{'AuId': 2778608201, 'S': 1, 'AuN': 'f arenou...",NaN,33,2018-08-01,50,"[{'FId': 202799725, 'FN': 'accuracy and precis...",2799268730,"{'JN': 'astron astrophys', 'JId': 205231332}","[2111817932, 2142220522, 2798336535, 213372565...",gaia data release 2 catalogue validation,Astronomy and Astrophysics,"['2', 'catalogue', 'data', 'gaia', 'release', ...",2018,10136560,-18.243
228,228,"[{'S': 1, 'AuId': 2070030126, 'AfN': 'columbia...",NaN,48,2018-01-25,50,"[{'FId': 2778247410, 'FN': 'solanezumab'}, {'F...",2787612390,"{'JN': 'n engl j med', 'JId': 62468778}","[1847168837, 2156220037, 2063808031, 232933607...",trial of solanezumab for mild dementia due to ...,The New England Journal of Medicine,"['alzheimer', 'dementia', 'disease', 'mild', '...",2018,12076216,-18.422
298,298,"[{'S': 1, 'AuId': 2153068280, 'AfN': 'universi...",NaN,34,2018-01-01,50,"[{'FId': 189206191, 'FN': 'genomics'}, {'FId':...",2609984900,"{'JN': 'amer j psychiat', 'JId': 116025658}","[2134783591, 2113784410, 2098597355, 203315153...",psychiatric genomics an update and an agenda,American Journal of Psychiatry,"['agenda', 'genomics', 'psychiatric', 'update']",2018,13182132,-18.511
385,385,"[{'S': 1, 'AuId': 2104561707, 'AfN': 'arthriti...",NaN,36,2018-06-01,50,"[{'FId': 137886200, 'FN': 'biopsychosocial mod...",2791379829,"{'JN': 'lancet', 'JId': 49861241}","[2296986887, 2157244868, 2160769294, 258841006...",prevention and treatment of low back pain evid...,The Lancet,"['back', 'challenges', 'directions', 'evidence...",2018,14520434,-18.610
423,423,"[{'S': 1, 'AuId': 2273142510, 'AfN': 'liverpoo...",NaN,33,2018-09-14,50,"[{'FId': 125857072, 'FN': 'star formation'}, {...",2775727542,"{'JN': 'annu rev astron astrophys', 'JId': 298...",[2773772132],multiple stellar populations in globular clusters,Annual Review of Astronomy and Astrophysics,"['clusters', 'globular', 'multiple', 'populati...",2018,14932355,-18.640
1088,1088,"[{'AuId': 1978048194, 'S': 1, 'AuN': 'jessica ...",NaN,33,2018-03-07,50,"[{'FId': 63830546, 'FN': 'scientific method'},...",2791681873,"{'JN': 'nature', 'JId': 137773608}","[2156098321, 2126930838, 2157823046, 200044254...",meta analysis and the science of research synt...,Nature,"['meta', 'research', 'science', 'synthesis']",2018,19486089,-18.916
1655,1655,"[{'AuId': 2133441925, 'S': 1, 'AuN': 'steven r...",NaN,35,2018-02-01,50,"[{'FId': 2778715236, 'FN': 'discontinuation'},...",2766957057,"{'JN': 'jbmr', 'JId': 128199769}","[2044178924, 2160005424, 2482202957, 216305816...",vertebral fractures after discontinuation of d...,Journal of Bone and Mineral Research,"['controlled', 'denosumab', 'discontinuation',...",2018,21549747,-19.020
1966,1966,"[{'S': 1, 'AuId': 2319516946, 'AfN': 'delft un...",NaN,35,2018-04-06,50,"[{'FId': 22322919, 'FN': 'genomic organization...",2788376770,"{'JN': 'science', 'JId': 3880285}","[2073504534, 1995311028, 1964441323, 212108365...",real time imaging of dna loop extrusion by con...,Science,"['condensin', 'dna', 'extrusion', 'imaging', '...",2018,22391951,-19.061
2372,2372,"[{'S': 1, 'AuId': 2147956303, 'AfN': 'universi...",NaN,48,2018-05-01,50,"[{'FId': 73949472, 'FN': 'multijunction photov...",2800899574,"{'JN': 'nature energy', 'JId': 2764528046}","[2096320304, 2071134066, 2030106935, 261520321...",high fabrication yield organic tandem photovol...,Nature Energy,"['15', 'combining', 'efficiency', 'fabrication...",2018,23762922,-19.113
2458,2458,"[{'S': 1, 'AuId': 2177864800, 'AfN': 'translat...",NaN,34,2018-02-01,50,"[{'FId': 2779829264, 'FN': 'dulaglutide'}, {'F...",2787255324,"{'JN': 'lancet diabetes endocrinol', 'JId': 25...","[2059158127, 1526927233, 2564042923, 251951039...",semaglutide versus dulaglutide once weekly in ...,The Lancet Diabetes & Endocrinology,"['2', '3b', '7', 'diabetes', 'dulaglutide', 'l...",2018,23987300,-19.124
3218,3218,"[{'S': 1, 'AuId': 2620387854, 'AfN': 'georgia ...",NaN,33,2018-02-15,50,"[{'FId': 72319582, 'FN': 'degenerate energy le...",2775288145,"{'JN': 'arxiv cs ai', 'JId': 2596500785}",NaN,on convergence and stability of gans,arXiv: Artificial Intelligence,"['convergence', 'gans', 'stability']",2018,25617399,-19.202
3911,3911,"[{'S': 1, 'AuId': 2109443306, 'AfN': 'universi...",NaN,34,2018-10-01,50,"[{'FId': 2779974597, 'FN': 'clinical practice'...",2336421298,"{'JN': 'pediatr diabetes', 'JId': 118758356}","[2769264260, 2012186625, 2127372143, 209857008...",ispad clinical practice consensus guidelines 2...,Pediatric Diabetes,"['2014', 'adolescence', 'clinical', 'consensus...",2018,27014280,-19.259
24507,24507,"[{'S': 1, 'AuId': 2309335643, 'AfN': 'chinese ...",NaN,36,2018-01-01,50,"[{'FId': 2780513484, 'FN': 'malononitrile'}, {...",2767730845,"{'JN': 'advan mater', 'JId': 99352657}","[2123711607, 2096320304, 2039618794, 205041991...",ternary nonfullerene polymer solar cells with ...,Advanced Materials,"['12', '16', 'absorption', 'acceptor', 'cascad...",2018,40299817,-19.684
30374,30374,"[{'S': 1, 'AuId': 2131774878, 'AfN': 'yeungnam...",NaN,34,2018-06-01,50,"[{'FId': 86582703, 'FN': 'stochastic neural ne...",2612595888,"{'JN': 'ieee transactions on neural networks',...",NaN,improved stability and stabilization results f...,IEEE Transactions on Neural Networks,"['continuous', 'delay', 'jump', 'markovian', '...",2018,42254516,-19.736
37577,37577,"[{'S': 1, 'AuId': 2508742335, 'AfN': 'universi...",NaN,33,2018-01-02,50,"[{'FId': 119889771, 'FN': 'dehydrogenation'}, ...",2772515060,"{'JN': 'angew chem int ed', 'JId': 67393510}","[2011377242, 2002752790, 2035280974, 208461651...",manganese complexes for de hydrogenation catal...,Angewandte Chemie,"['catalysis', 'catalysts', 'cobalt', 'comparis...",2018,47782929,-19.822
39084,39084,"[{'S': 1, 'AuId': 2676718596, 'AfN': 'babol no...",NaN,36,2018-05-01,50,"[{'FId': 21946209, 'FN': 'nanofluid'}, {'FId':...",2795211703,"{'JN': 'j taiwan inst chem eng', 'JId': 156280...","[2287957329, 2758998517, 2769325470, 198247125...",numerical simulation for solidification in a l...,Journal of The Taiwan Institute of Chemical En...,"['enhanced', 'lhtess', 'means', 'nano', 'numer...",2018,48306637,-19.838
40047,40047,"[{'S': 1, 'AuId': 2789998861, 'AfN': 'case wes...",NaN,33,2018-03-01,50,"[{'FId': 35590869, 'FN': 'water splitting'}, {...",2790087907,"{'JN': 'advan mater', 'JId': 99352657}","[2151207643, 2146278879, 2085020302, 202229993...",novel mof derived co n c bifunctional catalyst...,Advanced Materials,"['air', 'batteries', 'bifunctional', 'c', 'cat...",2018,48627526,-19.848
43483,43483,"[{'S': 1, 'AuId': 2346169917, 'AfN': 'cornell ...",NaN,34,2018-01-01,50,"[{'FId': 149892131, 'FN': 'interleukin 1 recep...",2268253304,"{'JN': 'knee surg sports traumatol ar', 'JId':...","[2025371271, 1544751778, 2149790590, 199141549...",bone marrow concentrate and platelet rich plas...,"Knee Surgery, Sports Traumatology, Arthroscopy","['1', 'antagonist', 'bone', 'cell', 'concentra...",2018,49714417,-19.880
45493,45493,"[{'S': 1, 'AuId': 2775137722, 'AfN': 'beijing ...",NaN,16,2018-08-01,50,"[{'FId': 158338273, 'FN': 'homomorphic encrypt...",2771135883,{'JN': 'ieee transactions on industrial inform...,NaN,blend arithmetic operations on tensor based fu...,IEEE Transactions on Industrial Informatics,"['arithmetic', 'blend', 'encryption', 'fully',...",2018,50307380,-19.897
50610,50610,"[{'S': 1, 'AuId': 2563973477, 'AfN': 'iowa sta...",NaN,34,2018-02-01,50,"[{'FId': 542059537, 'FN': 'domestic violence'}...",2297942791,"{'JN': 'current opinion psychology', 'JId': 27...","[2109120348, 2151922135, 2123376091, 190413636...",the general aggression model,Current opinion in psychology,"['aggression', 'general', 'model']",2018,51689744,-19.934
53967,53967,"[{'S': 1, 'AuId': 2743064304, 'AfN': 'universi...",NaN,29,2018-07-01,50,"[{'FId': 2776735140, 'FN': 'chooz'}, {'FId': 1...",2798378541,"{'JN': 'phys lett', 'JId': 173952182}","[2159617645, 2014682190, 2148747844, 206222181...",status of neutrino oscillations 2018 3 hint ...,Physics Letters B,"['2018', '3', 'cp', 'hint', 'mass', 'neutrino'...",2018,53102558,-19.970
54508,54508,"[{'S': 1, 'AuId': 2713311714, 'AfN': 'universi...",NaN,33,2018-02-01,50,"[{'FId': 24252448, 'FN': 'sparse pca'}, {'FId'...",2408125176,"{'JN': 'ann statist', 'JId': 119757635}","[2164278908, 2107107106, 2127300249, 214479968...",on semidefinite relaxations for the block model,Annals of Statistics,"['block', 'model', 'relaxations', 'semidefinite']",2018,53426404,-19.978
58889,58889,"[{'S': 1, 'AuId': 2125167772, 'AfN': 'sichuan ...",NaN,34,2018-05-01,50,"[{'FId': 117355083, 'FN': 'generalized mean'},...",2732135403,"{'JN': 'ijis', 'JId': 57950554}","[1980564456, 1971875039, 1981107087, 202695164...",pythagorean fuzzy maclaurin symmetric mean ope...,International Journal of Intelligent Systems,"['attribute', 'decision', 'fuzzy', 'maclaurin'...",2018,55902791,-20.035
64358,64358,"[{'AuId': 2793218613, 'S': 1, 'AuN': 'l adlero...",NaN,16,2018-02-11,50,"[{'FId': 2779170986, 'FN': 'lactoferrin'}, {'F...",2794099383,"{'JN': 'veterinarni medicina', 'JId': 166242950}","[1970294462, 2143226173, 2469414933, 199735719...",lactoferrin a review,Veterinarni Medicina,"['lactoferrin', 'review']",2018,58679693,-20.092
78845,78845,"[{'AuId': 2745724710, 'S': 1, 'AuN': 'william ...",NaN,34,2018-01-01,50,"[{'FId': 3875195, 'FN': 'chimeric antigen rece...",2747415234,"{'JN': 'protein cell', 'JId': 126440360}","[2143772132, 2159821105, 2137354517, 207184372...",current progress in innovative engineered anti...,Protein & Cell,"['antibodies', 'current', 'engineered', 'innov...",2018,72763812,-20.202
79866,79866,"[{'S': 1, 'AuId': 2766298332, 'AfN': 'cardiff ...",NaN,33,2018-06-01,50,"[{'FId': 119653847, 'FN': 'elementary cognitiv...",2724821146,"{'JN': 'behav res methods', 'JId': 137478622}","[2087484885, 2144981148, 2072500831, 210582468...",the reliability paradox why robust cognitive t...,Behavior Research Methods,"['cognitive', 'differences', 'individual', 'pa...",2018,72993866,-20.208
171793,171793,"[{'AuId': 2789239093, 'S': 1, 'AuN': 'p valent...",NaN,23,2018-02-10,50,"[{'FId': 26448091, 'FN': 'osmoprotectant'}, {'...",2791549042,"{'JN': 'plant soil and environment', 'JId': 93...","[1978487812, 2039731523, 1927158303, 215956261...",effect of osmotic stress on compatible solutes...,Plant Soil and Environment,"['compatible', 'content', 'cultivars', 'effect...",2018,88406861,-20.521

In [14]:
# create month field
df["Month"] = pd.to_datetime(df["Date"]).dt.month

In [33]:
df['Month'].head(5)

0    1
1    2
2    3
3    4
4    8
Name: Month, dtype: int64

In [15]:
def clean_data(df):
    #removing kesEntityId as simillar fields are already present
    df.drop(columns=["Row_num","kesEntityId"],inplace=True)
    df["Popularity"] = df["Popularity"].apply(pd.to_numeric,downcast='float')
    df["Year"] = df["Year"].apply(pd.to_numeric,downcast='unsigned')
    df["Month"] = df["Month"].apply(pd.to_numeric,downcast='unsigned')
    df.dropna(subset=['Venue', 'Title', 'Authors',], inplace=True)

In [37]:
clean_data(df)

KeyError: "labels ['Row_num' 'kesEntityId'] not contained in axis"

In [35]:
df_pub = pd.read_csv("Data/ProcessedScopusData.csv")

In [32]:
def append_pub_score(df):
    print("Unique Publications from Scopus:",len(df_pub.Title.unique()))
    # Analysing Common Publications
    vfn_list = df.Venue.unique().tolist()
    scopus_list = df_pub.Title.unique().tolist()
    count = 0
    for pub in scopus_list:
        if pub in vfn_list:
            count +=1
    print("Publications present in Dataset:",count)
    print("Shape Before",df.shape)
    df = df[df.Venue.isin(scopus_list)]
    print("Shape After",df.shape)
    #score appending
    score_dict = pd.Series(df_pub.SJR.values,index=df_pub.Title).to_dict()
    df["Publication_Rank"] = df.apply(lambda row: score_dict[row["Venue"]],axis = 1)
    return df

def extract_field(row):
    val = row["Domain"]
    index = val.rfind("FN")
    val = val[index+3:len(val)]
    val = val.strip(":}] '")
    return val

def get_num_authors(row):
    vals = row["Authors"].split("},")
    return len(vals)

In [36]:
df = append_pub_score(df)

Unique Publications from Scopus: 1231
Publications present in Dataset: 904
Shape Before (1208460, 15)
Shape After (143303, 15)

/Users/divyam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
label_dict = {"C":0,"J":1,"CJ":2,"O":3}
def find_conference_type(row):
    if pd.isnull(row["Conference"]) and pd.isnull(row["Journal"]):
        return label_dict["O"]
    elif pd.isnull(row["Conference"]):
        return label_dict["J"]
    elif pd.isnull(row["Journal"]):
        return label_dict["C"]
    else:
        return label_dict["CJ"]

In [33]:
df["Publication Type"] = df.apply(lambda row:find_conference_type(row),axis=1)
df["Number_Of_authors"] = df.apply(lambda row:get_num_authors(row), axis = 1)

In [34]:
df.shape

(1208460, 18)

In [35]:
def tidy_split(df, column, sep='|', keep=False):
    indexes = list()
    id_values = list()
    name_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            id_values.append(presplit)
        for value in values:
            indexes.append(i)
            val = value
            index1 = val.find("AuId")
            index2 = val.find("AfN")
            index3 = val.find("'S'")
            if index3 < index1:
                val = val[index1+4:index2]
                val = val.strip("', :")
            else:
                val = val[index1+4:index3]
                val = val.strip("', :")                
            id_values.append(val)
            index1 = value.find("AuN")
            val = value[index1+3:]
            val = val.strip("': }]")
            name_values.append(val)
    new_df = df.iloc[indexes, :].copy()
    new_df[column+"_Id"] = id_values
    new_new_df = new_df.iloc[:, :].copy()
    new_new_df[column+"_Name"] = name_values
    return new_new_df

In [36]:
df_big = tidy_split(df,"Authors","},")

In [37]:
df_big.head(10)

,Authors,Conference,Citation_count,Date,Expected_count,Domain,Id,Journal,References,Title,Venue,Words,Year,kesEntityId,Popularity,Month,Publication Type,Number_Of_authors,Authors_Id,Authors_Name
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2592382599,lubing bai
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2558648277,ze wang
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2751351928,yamin han
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2754888086,zongyan zuo
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2486643139,bin liu
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2416985679,mengna yu
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2585848087,haijuan zhang
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2609093794,jinyi lin
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2586613702,yingdong xia
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,1190005,-16.064,1,1,16,2763646268,chengrong yin

In [30]:
df_big.shape

NameError: name 'df_big' is not defined

In [42]:
adj_list = {}
for key,row in df_big.iterrows():
    curr_list = adj_list.get(row["Id"], [])
    curr_list.extend(list(map(int,re.findall(r'\d+', df["References"][0]))))
    curr_list = list(set(curr_list))
    adj_list[key] = curr_list
adj_list

ValueError: invalid literal for int() with base 10: '[2057327293'

In [18]:
df["References"][0]

'[2057327293, 2011472471, 2729523528, 2313405434, 2396261957, 2277225938, 2322157815, 2041121873, 2273633940, 2241954069, 2268311649, 2151915808, 2108889749, 1968551245, 2553319127, 2346653510, 2610638123, 2595338727, 2470306041, 2493461890, 2534472385]'

In [19]:
type(df["References"][0])

str

In [22]:
import re
[s for s in df["References"][0].split()]

['[2057327293,',
 '2011472471,',
 '2729523528,',
 '2313405434,',
 '2396261957,',
 '2277225938,',
 '2322157815,',
 '2041121873,',
 '2273633940,',
 '2241954069,',
 '2268311649,',
 '2151915808,',
 '2108889749,',
 '1968551245,',
 '2553319127,',
 '2346653510,',
 '2610638123,',
 '2595338727,',
 '2470306041,',
 '2493461890,',
 '2534472385]']

In [47]:
curr_list = []
curr_list.extend(map(int,re.findall(r'\d+', df["References"][0])))

In [48]:
curr_list.extend(map(int,re.findall(r'\d+', df["References"][0])))

[2027545702,
 2127685726,
 2143559032,
 2125963799,
 2078251659,
 2112876622,
 2092646281,
 2141214317,
 2046658390,
 2151554611,
 2027498662,
 2081897332,
 1980771473,
 2120733999,
 1980154502,
 2106791445,
 2047208492,
 2222306685,
 2000336618,
 1881390415,
 1881009043,
 2335913920,
 2289667014,
 2104563699,
 2113428683,
 1908153784,
 2320330796,
 2266909385,
 2038485127,
 2133275424,
 216121951,
 2096074908,
 2094778224,
 2141769755,
 2047033934,
 2128390124,
 2332403844,
 2467713285,
 2578013986,
 2138363476,
 2277396963,
 2325297898,
 2114985397,
 2072160870,
 1985982900,
 2115399503,
 2306227468,
 1979815055,
 2318156787,
 1732930179,
 2510623134,
 2419146391,
 2118542945,
 1621802947,
 1505139021,
 1972718711,
 2284028703,
 2094986548,
 2617500612,
 1874253413,
 2296452901,
 2403969263,
 2029731118,
 1999996561,
 2518041763,
 1971991764,
 2217275225,
 2472585716,
 2527946790,
 2029944598,
 2006747389,
 2180748603,
 2158806421,
 2519498039,
 2011437704,
 2744914748,
 2499660576,
 1644221808,
 2274680380,
 2761085897,
 2156481634,
 2746084941,
 2139773897,
 2788216918,
 1980012242,
 2113636405,
 2160289288,
 2060895146,
 2147326489,
 2554701966,
 2044547797,
 1934976864,
 2015740979,
 2048396008,
 2059290576,
 2074538265,
 2605698336,
 2429522722,
 1966804887,
 2143398474,
 2290250957,
 2547264935,
 2311331156,
 2068329523,
 2058592552,
 2145994537,
 2001458978,
 2605116305,
 2153750363,
 2333998337,
 2062285213,
 2001738443,
 2464194429,
 2466185814,
 2143523085,
 1571790880,
 2419641323,
 2075254864,
 1978606949,
 2029582741,
 2509211555,
 2152872602,
 2106172816,
 2061099562,
 2765348434,
 2258490349,
 2751504895,
 1982946971,
 2064239845,
 1977620189,
 2038800845,
 2230018632,
 2754268575,
 1992161003,
 2089049687,
 1996227254,
 1642744236,
 2593387920,
 2594752891,
 2114381159,
 2101910709,
 2591977261,
 2135468595,
 2546358667,
 2522309098,
 2327129621,
 2282418649,
 2418720283,
 2115466322,
 2083084243,
 2486792863,
 2514263904,
 2243578293,
 2122266988,
 2748400966,
 2601629064,
 2518485884,
 2157680862,
 2295108630,
 2775690953,
 2468286545,
 2078328626,
 2019768563,
 782262721,
 2531120609,
 2595777679,
 1986498353,
 2503755744,
 2784719900,
 2020346050,
 2012203474,
 2031285393,
 2467146687,
 2756644889,
 2562480176,
 2562725767,
 2395846936,
 2519482181,
 2515859798,
 2092864701,
 2768486652,
 2769985632,
 2033555988,
 1994947695,
 2607344815,
 2514130042,
 2693373045,
 2561515271,
 2329595781,
 2046612120,
 1527786018,
 2620318023,
 2520869351,
 2765091655,
 2129718183,
 2136258423,
 2778170606,
 2043422955,
 2563934450,
 2605906203,
 2169986198,
 2058396068,
 2772793183,
 2626989754,
 2544926096,
 1964147946,
 2005133070,
 2768130646,
 2091909917,
 2055154062,
 2586748039,
 2106400283,
 2620881498,
 2618542764,
 2540946530,
 2739034491,
 1211669045,
 2547263324,
 2113505802,
 2742937844,
 2592906740,
 2728617459,
 2613016777,
 1972801529,
 2782256918,
 2009315852,
 2740157005,
 2079218457,
 2789796276,
 2767631054,
 2263957696,
 2135836213,
 2051173971,
 2345024104,
 2735359208,
 2593329923,
 2772877730,
 2613143451,
 2600625841,
 2769512910,
 2533471076,
 1641474530,
 2141933812,
 2594850625,
 2070216911,
 2126506419,
 2751450406,
 2060543030,
 2752566336,
 2113755739,
 2783536716,
 2755461824,
 2791786965,
 2614089632,
 1925677430,
 1993335225,
 2507376318,
 2207138264,
 2605491963,
 2612098812,
 2425256581,
 2800410740,
 2191957520,
 2127079150,
 2512156096,
 2756564730,
 2122827617,
 2589654756,
 2748078120,
 2261086347,
 2605973763,
 1967820787,
 1706436753,
 2001237435,
 2313732802,
 2078666841,
 2789669413,
 2605141480,
 2523075296,
 2271913568,
 2790929949,
 2397907240,
 2614033683,
 2613902314,
 2550869641,
 1925684047,
 2602019447,
 2122599988,
 2482072605,
 2034101072,
 2793631939,
 2613176236,
 2754256779,
 2613090373,
 1562544358,
 2612712261,
 1987771423,
 2613897901,
 2769117260,
 2606268015,
 2564098370,
 2605077086,
 2522658524,
 1946488646,
 2614052689,
 2613433007,
 2613434648,
 2613776086,
 2612186390,
 2622346967,
 2613743582,
 2034607116,
 2612162127,
 2770422333,
 2522420151,
 2613113839,
 2139354624]

In [45]:
list(map(int,re.findall(r'\d+', df["References"][0])))

[2027545702,
 2127685726,
 2143559032,
 2125963799,
 2078251659,
 2112876622,
 2092646281,
 2141214317,
 2046658390,
 2151554611,
 2027498662,
 2081897332,
 1980771473,
 2120733999,
 1980154502,
 2106791445,
 2047208492,
 2222306685,
 2000336618,
 1881390415,
 1881009043,
 2335913920,
 2289667014,
 2104563699,
 2113428683,
 1908153784,
 2320330796,
 2266909385,
 2038485127,
 2133275424,
 216121951,
 2096074908,
 2094778224,
 2141769755,
 2047033934,
 2128390124,
 2332403844,
 2467713285,
 2578013986,
 2138363476,
 2277396963,
 2325297898,
 2114985397,
 2072160870,
 1985982900,
 2115399503,
 2306227468,
 1979815055,
 2318156787,
 1732930179,
 2510623134,
 2419146391,
 2118542945,
 1621802947,
 1505139021,
 1972718711,
 2284028703,
 2094986548,
 2617500612,
 1874253413,
 2296452901,
 2403969263,
 2029731118,
 1999996561,
 2518041763,
 1971991764,
 2217275225,
 2472585716,
 2527946790,
 2029944598,
 2006747389,
 2180748603,
 2158806421,
 2519498039,
 2011437704,
 2744914748,
 2499660576,
 1644221808,
 2274680380,
 2761085897,
 2156481634,
 2746084941,
 2139773897,
 2788216918,
 1980012242,
 2113636405,
 2160289288,
 2060895146,
 2147326489,
 2554701966,
 2044547797,
 1934976864,
 2015740979,
 2048396008,
 2059290576,
 2074538265,
 2605698336,
 2429522722,
 1966804887,
 2143398474,
 2290250957,
 2547264935,
 2311331156,
 2068329523,
 2058592552,
 2145994537,
 2001458978,
 2605116305,
 2153750363,
 2333998337,
 2062285213,
 2001738443,
 2464194429,
 2466185814,
 2143523085,
 1571790880,
 2419641323,
 2075254864,
 1978606949,
 2029582741,
 2509211555,
 2152872602,
 2106172816,
 2061099562,
 2765348434,
 2258490349,
 2751504895,
 1982946971,
 2064239845,
 1977620189,
 2038800845,
 2230018632,
 2754268575,
 1992161003,
 2089049687,
 1996227254,
 1642744236,
 2593387920,
 2594752891,
 2114381159,
 2101910709,
 2591977261,
 2135468595,
 2546358667,
 2522309098,
 2327129621,
 2282418649,
 2418720283,
 2115466322,
 2083084243,
 2486792863,
 2514263904,
 2243578293,
 2122266988,
 2748400966,
 2601629064,
 2518485884,
 2157680862,
 2295108630,
 2775690953,
 2468286545,
 2078328626,
 2019768563,
 782262721,
 2531120609,
 2595777679,
 1986498353,
 2503755744,
 2784719900,
 2020346050,
 2012203474,
 2031285393,
 2467146687,
 2756644889,
 2562480176,
 2562725767,
 2395846936,
 2519482181,
 2515859798,
 2092864701,
 2768486652,
 2769985632,
 2033555988,
 1994947695,
 2607344815,
 2514130042,
 2693373045,
 2561515271,
 2329595781,
 2046612120,
 1527786018,
 2620318023,
 2520869351,
 2765091655,
 2129718183,
 2136258423,
 2778170606,
 2043422955,
 2563934450,
 2605906203,
 2169986198,
 2058396068,
 2772793183,
 2626989754,
 2544926096,
 1964147946,
 2005133070,
 2768130646,
 2091909917,
 2055154062,
 2586748039,
 2106400283,
 2620881498,
 2618542764,
 2540946530,
 2739034491,
 1211669045,
 2547263324,
 2113505802,
 2742937844,
 2592906740,
 2728617459,
 2613016777,
 1972801529,
 2782256918,
 2009315852,
 2740157005,
 2079218457,
 2789796276,
 2767631054,
 2263957696,
 2135836213,
 2051173971,
 2345024104,
 2735359208,
 2593329923,
 2772877730,
 2613143451,
 2600625841,
 2769512910,
 2533471076,
 1641474530,
 2141933812,
 2594850625,
 2070216911,
 2126506419,
 2751450406,
 2060543030,
 2752566336,
 2113755739,
 2783536716,
 2755461824,
 2791786965,
 2614089632,
 1925677430,
 1993335225,
 2507376318,
 2207138264,
 2605491963,
 2612098812,
 2425256581,
 2800410740,
 2191957520,
 2127079150,
 2512156096,
 2756564730,
 2122827617,
 2589654756,
 2748078120,
 2261086347,
 2605973763,
 1967820787,
 1706436753,
 2001237435,
 2313732802,
 2078666841,
 2789669413,
 2605141480,
 2523075296,
 2271913568,
 2790929949,
 2397907240,
 2614033683,
 2613902314,
 2550869641,
 1925684047,
 2602019447,
 2122599988,
 2482072605,
 2034101072,
 2793631939,
 2613176236,
 2754256779,
 2613090373,
 1562544358,
 2612712261,
 1987771423,
 2613897901,
 2769117260,
 2606268015,
 2564098370,
 2605077086,
 2522658524,
 1946488646,
 2614052689,
 2613433007,
 2613434648,
 2613776086,
 2612186390,
 2622346967,
 2613743582,
 2034607116,
 2612162127,
 2770422333,
 2522420151,
 2613113839,
 2139354624]