In [3]:
import os
import csv
import pandas as pd
import numpy as np

import datetime
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

from plotly import tools
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import squarify

from sklearn import model_selection, preprocessing, metrics
plt.style.use('fivethirtyeight')

print(os.getcwd())
print(os.listdir("../"))

/Users/divyam/Dev/Data_Science/DSF_Project/AcademicPaperRanking
['AcademicPaperRanking', 'mag_2007.csv', '2018.json', '2014.json', 'mag_2011.csv', '2015.json', '.DS_Store', 'mag_2015.csv', 'dblp.csv', 'sys_argv.py', '2012.json', '2008.json', '2009.json', 'common_progress_kernel.ipynb', 'acm.csv', '2013.json', '2010.json', 'dblp.txt', 'aminer_papers_0.zip', '2007.json', '2016.json', 'mag_2018.csv', 'acm.txt', 'acm_data_processing.py', '2017.json']

In [8]:
df = pd.read_csv("../mag_2018.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211000 entries, 0 to 1210999
Data columns (total 16 columns):
Unnamed: 0     1211000 non-null int64
AA             1211000 non-null object
C              50789 non-null object
CC             1211000 non-null int64
D              1211000 non-null object
ECC            1211000 non-null int64
F              1197152 non-null object
Id             1211000 non-null int64
J              1019164 non-null object
RId            835626 non-null object
Ti             1211000 non-null object
VFN            1147111 non-null object
W              1210997 non-null object
Y              1211000 non-null int64
kesEntityId    1211000 non-null int64
logprob        1211000 non-null float64
dtypes: float64(1), int64(6), object(9)
memory usage: 147.8+ MB

In [13]:
def get_block_avg_usage(df):
    for dtype in ['float','int','object']:
        selected_dtype = df.select_dtypes(include=[dtype])
        mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
        mean_usage_mb = mean_usage_b / 1024 ** 2
        print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))
        del mean_usage_b, mean_usage_mb, selected_dtype

In [133]:
df.head(5)

,Authors,Conference,Citation_count,Date,Expected_count,Domain,Id,Journal,References,Title,Venue,Words,Year,Popularity,Month
0,"[{'S': 1, 'AuId': 2592382599, 'AfN': 'center f...",NaN,1872,2018-01-01,1872,"[{'FId': 191952053, 'FN': 'dopant'}, {'FId': 1...",2782514705,"{'JN': 'nano energy', 'JId': 2497301991}","[2057327293, 2011472471, 2729523528, 231340543...",diarylfluorene based nano molecules as dopant ...,Nano Energy,"['cells', 'diarylfluorene', 'dopant', 'flexibl...",2018,-16.064,1
1,"[{'S': 1, 'AuId': 2618360078, 'AfN': 'technica...",NaN,1787,2018-02-23,1787,"[{'FId': 2779853757, 'FN': 'penicillic acid'},...",2789134836,"{'JN': 'world mycotoxin journal', 'JId': 70096...","[2073569767, 1989318771, 2109782899, 214495155...",a critical review of producers of small lacton...,World Mycotoxin Journal,"['acid', 'critical', 'lactone', 'moniliformin'...",2018,-16.192,2
2,"[{'AuId': 2498139363, 'S': 1, 'AuN': 'r r m pa...",NaN,1785,2018-03-01,1785,"[{'FId': 2779550045, 'FN': 'patulin'}, {'FId':...",2786183769,"{'JN': 'int j food microbiol', 'JId': 132626406}",NaN,alternative patulin pathway unproven,International Journal of Food Microbiology,"['alternative', 'pathway', 'patulin', 'unproven']",2018,-16.193,3
3,"[{'S': 1, 'AuId': 2127898042, 'AfN': 'google',...",NaN,1957,2018-04-01,1957,"[{'FId': 65885262, 'FN': 'scale space segmenta...",2412782625,"{'JN': 'pami', 'JId': 199944782}","[1686810756, 2618530766, 2194775991, 209711776...",deeplab semantic image segmentation with deep ...,IEEE Transactions on Pattern Analysis and Mach...,"['atrous', 'connected', 'convolution', 'convol...",2018,-16.388,4
4,"[{'S': 1, 'AuId': 2761591088, 'AfN': 'leiden u...",NaN,293,2018-08-01,293,"[{'FId': 2778316820, 'FN': 'photometric system...",2798336535,"{'JN': 'astron astrophys', 'JId': 205231332}","[2011301426, 2142220522, 2061939373, 205293750...",gaia data release 2 summary of the contents an...,Astronomy and Astrophysics,"['2', 'contents', 'data', 'gaia', 'properties'...",2018,-16.455,8

In [127]:
# Make more sensible column names
rename_dict = {"AA": "Authors", 
               "C": "Conference", 
               "CC": "Citation_count",
               "ECC": "Expected_count",
               "D": "Date", 
               "F": "Domain", 
               "J": "Journal", 
               "RId": "References", 
               "Ti": "Title", 
               "VFN": "Venue", 
               "W": "Words", 
               "Y": "Year", 
               "logprob":"Popularity",
               "Unnamed: 0": "Row_num"}
df.rename(index=str, columns=rename_dict, inplace=True)

In [92]:
df.select_dtypes(include="number").describe()

,Row_num,Citation_count,ECC,Id,Year,kesEntityId,Popularity
count,1.211000e+06,1.211000e+06,1.211000e+06,1.211000e+06,1211000.0,1.211000e+06,1.211000e+06
mean,6.054995e+05,1.064620e+00,1.064997e+00,2.797143e+09,2018.0,2.260905e+08,-2.118847e+01
std,3.495857e+05,1.755177e+01,1.755261e+01,1.486480e+08,0.0,9.040128e+07,6.017534e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,4.727120e+05,2018.0,1.190005e+06,-2.200200e+01
25%,3.027498e+05,0.000000e+00,0.000000e+00,2.785024e+09,2018.0,1.142518e+08,-2.167500e+01
50%,6.054995e+05,0.000000e+00,0.000000e+00,2.799726e+09,2018.0,2.779343e+08,-2.129900e+01
75%,9.082492e+05,1.000000e+00,1.000000e+00,2.883550e+09,2018.0,2.864866e+08,-2.081000e+01
max,1.210999e+06,6.651000e+03,6.651000e+03,2.898614e+09,2018.0,2.941568e+08,-1.606400e+01

In [94]:
df.select_dtypes(exclude="number").describe()

,Authors,Conference,Date,Domain,Journal,References,Title,Venue,Words
count,1211000,50789,1211000,1197152,1019164,835626,1211000,1147111,1210997
unique,1145040,1256,363,1105872,18787,828087,1208460,42772,1207408
top,"[{'S': 1, 'AuId': 2617818522, 'AfN': 'beckman ...","{'CN': 'cleo', 'CId': 2623670637}",2018-01-01,"[{'FId': 554144382, 'FN': 'performance art'}, ...","{'JN': 'plos one', 'JId': 202381698}","[2028520323, 1657433554, 2782514705, 273981532...",open access is there a predator at the door,PLOS ONE,"['access', 'door', 'open', 'predator']"
freq,3810,1643,182147,4454,14841,1206,11,14841,11

In [115]:
df[df.duplicated(["Title"])].sort_values(by=["Title"])

Empty DataFrame
Columns: [Row_num, Authors, Conference, Citation_count, Date, ECC, Domain, Id, Journal, References, Title, Venue, Words, Year, kesEntityId, Popularity, month]
Index: []

In [116]:
# df 
df.drop_duplicates(subset=['Title'], inplace=True)

In [125]:
df.isna().sum()

Authors                 0
Conference        1157829
Citation_count          0
Date                    0
ECC                     0
Domain              13793
Id                      0
Journal            191087
References         373689
Title                   0
Venue               63804
Words                   3
Year                    0
Popularity              0
month                   0
dtype: int64

In [95]:
df["Conference"].value_counts(dropna=False)

NaN                                                      1160211
{'CN': 'cleo', 'CId': 2623670637}                           1643
{'CN': 'chi', 'CId': 1163450153}                            1472
{'CN': 'icra', 'CId': 1163902177}                           1259
{'CN': 'icassp', 'CId': 1121227772}                         1139
{'CN': 'icc', 'CId': 1130451194}                            1027
{'CN': 'cvpr', 'CId': 1158167855}                           1004
{'CN': 'aaai', 'CId': 1184914352}                            873
{'CN': 'nips', 'CId': 1127325140}                            846
{'CN': 'acc', 'CId': 1190039108}                             794
{'CN': 'ijcai', 'CId': 1203999783}                           628
{'CN': 'icml', 'CId': 1180662882}                            622
{'CN': 'iscas', 'CId': 1192710900}                           544
{'CN': 'icse', 'CId': 1174403976}                            441
{'CN': 'ccc', 'CId': 2623792093}                             414
{'CN': 'interspeech', 'CId': 1177287137}                     411
{'CN': 'ofc', 'CId': 2621451516}                             405
{'CN': 'naacl', 'CId': 1173951661}                           394
{'CN': 'isit', 'CId': 1197656824}                            391
{'CN': 'eccv', 'CId': 1124077590}                            386
{'CN': 'icip', 'CId': 1163163559}                            385
{'CN': 'emnlp', 'CId': 1192655580}                           381
{'CN': 'iclr', 'CId': 2584161585}                            379
{'CN': 'acl', 'CId': 1188739475}                             378
{'CN': 'soco', 'CId': 1123077274}                            350
{'CN': 'imtc', 'CId': 2623692773}                            323
{'CN': 'wcnc', 'CId': 1163279258}                            311
{'CN': 'aamas', 'CId': 1168671587}                           302
{'CN': 'hicss', 'CId': 1164519180}                           292
{'CN': 'apec', 'CId': 2624557529}                            285
                                                          ...
{'CN': 'modelling and simulation', 'CId': 2756471791}          1
{'CN': 'pes', 'CId': 2622411833}                               1
{'CN': 'samos', 'CId': 1176077016}                             1
{'CN': 'icis', 'CId': 2755365417}                              1
{'CN': 'nca', 'CId': 1189497561}                               1
{'CN': 'intetain', 'CId': 1181770344}                          1
{'CN': 'icce', 'CId': 2755784833}                              1
{'CN': 'isola', 'CId': 2757049256}                             1
{'CN': 'cocoa', 'CId': 1143423991}                             1
{'CN': 'iccad', 'CId': 1128132410}                             1
{'CN': 'apbc', 'CId': 1200494941}                              1
{'CN': 'icam', 'CId': 2756465430}                              1
{'CN': 'socc', 'CId': 2758124996}                              1
{'CN': 'icgc', 'CId': 2760060527}                              1
{'CN': 'tqccc', 'CId': 2757394605}                             1
{'CN': 'ieom', 'CId': 2754880234}                              1
{'CN': 'netcom', 'CId': 1152051035}                            1
{'CN': 'vast', 'CId': 1161805661}                              1
{'CN': 'euvip', 'CId': 2754004985}                             1
{'CN': 'icret', 'CId': 2898336281}                             1
{'CN': 'cms', 'CId': 2756459776}                               1
{'CN': 'i semantics', 'CId': 2625637742}                       1
{'CN': 'intellisys', 'CId': 2754014226}                        1
{'CN': 'bsb', 'CId': 1187862248}                               1
{'CN': 'rsm', 'CId': 2754939573}                               1
{'CN': 'ictai', 'CId': 1153494057}                             1
{'CN': 'eomas', 'CId': 2759017913}                             1
{'CN': 'dcoss', 'CId': 1159958186}                             1
{'CN': 'analco', 'CId': 2757438667}                            1
{'CN': 'gis', 'CId': 1140348717}                               1
Name: Conference, Length: 1257, dtype: int64

In [117]:
df.iloc[0:1,-1]

0    1
Name: month, dtype: int64

In [81]:
df["kesEntityId"].is_unique

True

In [85]:
df["Id"].is_unique

True

In [91]:
# expected citation count is almost same as citation count
df[df["Citation_count"] != (df["ECC"])]

,Row_num,Authors,Conference,Citation_count,Date,ECC,Domain,Id,Journal,References,Title,Venue,Words,Year,kesEntityId,Popularity
134,134,"[{'AuId': 2778608201, 'S': 1, 'AuN': 'f arenou...",NaN,33,2018-08-01,50,"[{'FId': 202799725, 'FN': 'accuracy and precis...",2799268730,"{'JN': 'astron astrophys', 'JId': 205231332}","[2111817932, 2142220522, 2798336535, 213372565...",gaia data release 2 catalogue validation,Astronomy and Astrophysics,"['2', 'catalogue', 'data', 'gaia', 'release', ...",2018,10136560,-18.243
228,228,"[{'S': 1, 'AuId': 2070030126, 'AfN': 'columbia...",NaN,48,2018-01-25,50,"[{'FId': 2778247410, 'FN': 'solanezumab'}, {'F...",2787612390,"{'JN': 'n engl j med', 'JId': 62468778}","[1847168837, 2156220037, 2063808031, 232933607...",trial of solanezumab for mild dementia due to ...,The New England Journal of Medicine,"['alzheimer', 'dementia', 'disease', 'mild', '...",2018,12076216,-18.422
298,298,"[{'S': 1, 'AuId': 2153068280, 'AfN': 'universi...",NaN,34,2018-01-01,50,"[{'FId': 189206191, 'FN': 'genomics'}, {'FId':...",2609984900,"{'JN': 'amer j psychiat', 'JId': 116025658}","[2134783591, 2113784410, 2098597355, 203315153...",psychiatric genomics an update and an agenda,American Journal of Psychiatry,"['agenda', 'genomics', 'psychiatric', 'update']",2018,13182132,-18.511
385,385,"[{'S': 1, 'AuId': 2104561707, 'AfN': 'arthriti...",NaN,36,2018-06-01,50,"[{'FId': 137886200, 'FN': 'biopsychosocial mod...",2791379829,"{'JN': 'lancet', 'JId': 49861241}","[2296986887, 2157244868, 2160769294, 258841006...",prevention and treatment of low back pain evid...,The Lancet,"['back', 'challenges', 'directions', 'evidence...",2018,14520434,-18.610
423,423,"[{'S': 1, 'AuId': 2273142510, 'AfN': 'liverpoo...",NaN,33,2018-09-14,50,"[{'FId': 125857072, 'FN': 'star formation'}, {...",2775727542,"{'JN': 'annu rev astron astrophys', 'JId': 298...",[2773772132],multiple stellar populations in globular clusters,Annual Review of Astronomy and Astrophysics,"['clusters', 'globular', 'multiple', 'populati...",2018,14932355,-18.640
1088,1088,"[{'AuId': 1978048194, 'S': 1, 'AuN': 'jessica ...",NaN,33,2018-03-07,50,"[{'FId': 63830546, 'FN': 'scientific method'},...",2791681873,"{'JN': 'nature', 'JId': 137773608}","[2156098321, 2126930838, 2157823046, 200044254...",meta analysis and the science of research synt...,Nature,"['meta', 'research', 'science', 'synthesis']",2018,19486089,-18.916
1655,1655,"[{'AuId': 2133441925, 'S': 1, 'AuN': 'steven r...",NaN,35,2018-02-01,50,"[{'FId': 2778715236, 'FN': 'discontinuation'},...",2766957057,"{'JN': 'jbmr', 'JId': 128199769}","[2044178924, 2160005424, 2482202957, 216305816...",vertebral fractures after discontinuation of d...,Journal of Bone and Mineral Research,"['controlled', 'denosumab', 'discontinuation',...",2018,21549747,-19.020
1966,1966,"[{'S': 1, 'AuId': 2319516946, 'AfN': 'delft un...",NaN,35,2018-04-06,50,"[{'FId': 22322919, 'FN': 'genomic organization...",2788376770,"{'JN': 'science', 'JId': 3880285}","[2073504534, 1995311028, 1964441323, 212108365...",real time imaging of dna loop extrusion by con...,Science,"['condensin', 'dna', 'extrusion', 'imaging', '...",2018,22391951,-19.061
2372,2372,"[{'S': 1, 'AuId': 2147956303, 'AfN': 'universi...",NaN,48,2018-05-01,50,"[{'FId': 73949472, 'FN': 'multijunction photov...",2800899574,"{'JN': 'nature energy', 'JId': 2764528046}","[2096320304, 2071134066, 2030106935, 261520321...",high fabrication yield organic tandem photovol...,Nature Energy,"['15', 'combining', 'efficiency', 'fabrication...",2018,23762922,-19.113
2458,2458,"[{'S': 1, 'AuId': 2177864800, 'AfN': 'translat...",NaN,34,2018-02-01,50,"[{'FId': 2779829264, 'FN': 'dulaglutide'}, {'F...",2787255324,"{'JN': 'lancet diabetes endocrinol', 'JId': 25...","[2059158127, 1526927233, 2564042923, 251951039...",semaglutide versus dulaglutide once weekly in ...,The Lancet Diabetes & Endocrinology,"['2', '3b', '7', 'diabetes', 'dulaglutide', 'l...",2018,23987300,-19.124
3218,3218,"[{'S': 1, 'AuId': 2620387854, 'AfN': 'georgia ...",NaN,33,2018-02-15,50,"[{'FId': 72319582, 'FN': 'degenerate energy le...",2775288145,"{'JN': 'arxiv cs ai', 'JId': 2596500785}",NaN,on convergence and stability of gans,arXiv: Artificial Intelligence,"['convergence', 'gans', 'stability']",2018,25617399,-19.202
3911,3911,"[{'S': 1, 'AuId': 2109443306, 'AfN': 'universi...",NaN,34,2018-10-01,50,"[{'FId': 2779974597, 'FN': 'clinical practice'...",2336421298,"{'JN': 'pediatr diabetes', 'JId': 118758356}","[2769264260, 2012186625, 2127372143, 209857008...",ispad clinical practice consensus guidelines 2...,Pediatric Diabetes,"['2014', 'adolescence', 'clinical', 'consensus...",2018,27014280,-19.259
24507,24507,"[{'S': 1, 'AuId': 2309335643, 'AfN': 'chinese ...",NaN,36,2018-01-01,50,"[{'FId': 2780513484, 'FN': 'malononitrile'}, {...",2767730845,"{'JN': 'advan mater', 'JId': 99352657}","[2123711607, 2096320304, 2039618794, 205041991...",ternary nonfullerene polymer solar cells with ...,Advanced Materials,"['12', '16', 'absorption', 'acceptor', 'cascad...",2018,40299817,-19.684
30374,30374,"[{'S': 1, 'AuId': 2131774878, 'AfN': 'yeungnam...",NaN,34,2018-06-01,50,"[{'FId': 86582703, 'FN': 'stochastic neural ne...",2612595888,"{'JN': 'ieee transactions on neural networks',...",NaN,improved stability and stabilization results f...,IEEE Transactions on Neural Networks,"['continuous', 'delay', 'jump', 'markovian', '...",2018,42254516,-19.736
37577,37577,"[{'S': 1, 'AuId': 2508742335, 'AfN': 'universi...",NaN,33,2018-01-02,50,"[{'FId': 119889771, 'FN': 'dehydrogenation'}, ...",2772515060,"{'JN': 'angew chem int ed', 'JId': 67393510}","[2011377242, 2002752790, 2035280974, 208461651...",manganese complexes for de hydrogenation catal...,Angewandte Chemie,"['catalysis', 'catalysts', 'cobalt', 'comparis...",2018,47782929,-19.822
39084,39084,"[{'S': 1, 'AuId': 2676718596, 'AfN': 'babol no...",NaN,36,2018-05-01,50,"[{'FId': 21946209, 'FN': 'nanofluid'}, {'FId':...",2795211703,"{'JN': 'j taiwan inst chem eng', 'JId': 156280...","[2287957329, 2758998517, 2769325470, 198247125...",numerical simulation for solidification in a l...,Journal of The Taiwan Institute of Chemical En...,"['enhanced', 'lhtess', 'means', 'nano', 'numer...",2018,48306637,-19.838
40047,40047,"[{'S': 1, 'AuId': 2789998861, 'AfN': 'case wes...",NaN,33,2018-03-01,50,"[{'FId': 35590869, 'FN': 'water splitting'}, {...",2790087907,"{'JN': 'advan mater', 'JId': 99352657}","[2151207643, 2146278879, 2085020302, 202229993...",novel mof derived co n c bifunctional catalyst...,Advanced Materials,"['air', 'batteries', 'bifunctional', 'c', 'cat...",2018,48627526,-19.848
43483,43483,"[{'S': 1, 'AuId': 2346169917, 'AfN': 'cornell ...",NaN,34,2018-01-01,50,"[{'FId': 149892131, 'FN': 'interleukin 1 recep...",2268253304,"{'JN': 'knee surg sports traumatol ar', 'JId':...","[2025371271, 1544751778, 2149790590, 199141549...",bone marrow concentrate and platelet rich plas...,"Knee Surgery, Sports Traumatology, Arthroscopy","['1', 'antagonist', 'bone', 'cell', 'concentra...",2018,49714417,-19.880
45493,45493,"[{'S': 1, 'AuId': 2775137722, 'AfN': 'beijing ...",NaN,16,2018-08-01,50,"[{'FId': 158338273, 'FN': 'homomorphic encrypt...",2771135883,{'JN': 'ieee transactions on industrial inform...,NaN,blend arithmetic operations on tensor based fu...,IEEE Transactions on Industrial Informatics,"['arithmetic', 'blend', 'encryption', 'fully',...",2018,50307380,-19.897
50610,50610,"[{'S': 1, 'AuId': 2563973477, 'AfN': 'iowa sta...",NaN,34,2018-02-01,50,"[{'FId': 542059537, 'FN': 'domestic violence'}...",2297942791,"{'JN': 'current opinion psychology', 'JId': 27...","[2109120348, 2151922135, 2123376091, 190413636...",the general aggression model,Current opinion in psychology,"['aggression', 'general', 'model']",2018,51689744,-19.934
53967,53967,"[{'S': 1, 'AuId': 2743064304, 'AfN': 'universi...",NaN,29,2018-07-01,50,"[{'FId': 2776735140, 'FN': 'chooz'}, {'FId': 1...",2798378541,"{'JN': 'phys lett', 'JId': 173952182}","[2159617645, 2014682190, 2148747844, 206222181...",status of neutrino oscillations 2018 3 hint ...,Physics Letters B,"['2018', '3', 'cp', 'hint', 'mass', 'neutrino'...",2018,53102558,-19.970
54508,54508,"[{'S': 1, 'AuId': 2713311714, 'AfN': 'universi...",NaN,33,2018-02-01,50,"[{'FId': 24252448, 'FN': 'sparse pca'}, {'FId'...",2408125176,"{'JN': 'ann statist', 'JId': 119757635}","[2164278908, 2107107106, 2127300249, 214479968...",on semidefinite relaxations for the block model,Annals of Statistics,"['block', 'model', 'relaxations', 'semidefinite']",2018,53426404,-19.978
58889,58889,"[{'S': 1, 'AuId': 2125167772, 'AfN': 'sichuan ...",NaN,34,2018-05-01,50,"[{'FId': 117355083, 'FN': 'generalized mean'},...",2732135403,"{'JN': 'ijis', 'JId': 57950554}","[1980564456, 1971875039, 1981107087, 202695164...",pythagorean fuzzy maclaurin symmetric mean ope...,International Journal of Intelligent Systems,"['attribute', 'decision', 'fuzzy', 'maclaurin'...",2018,55902791,-20.035
64358,64358,"[{'AuId': 2793218613, 'S': 1, 'AuN': 'l adlero...",NaN,16,2018-02-11,50,"[{'FId': 2779170986, 'FN': 'lactoferrin'}, {'F...",2794099383,"{'JN': 'veterinarni medicina', 'JId': 166242950}","[1970294462, 2143226173, 2469414933, 199735719...",lactoferrin a review,Veterinarni Medicina,"['lactoferrin', 'review']",2018,58679693,-20.092
78845,78845,"[{'AuId': 2745724710, 'S': 1, 'AuN': 'william ...",NaN,34,2018-01-01,50,"[{'FId': 3875195, 'FN': 'chimeric antigen rece...",2747415234,"{'JN': 'protein cell', 'JId': 126440360}","[2143772132, 2159821105, 2137354517, 207184372...",current progress in innovative engineered anti...,Protein & Cell,"['antibodies', 'current', 'engineered', 'innov...",2018,72763812,-20.202
79866,79866,"[{'S': 1, 'AuId': 2766298332, 'AfN': 'cardiff ...",NaN,33,2018-06-01,50,"[{'FId': 119653847, 'FN': 'elementary cognitiv...",2724821146,"{'JN': 'behav res methods', 'JId': 137478622}","[2087484885, 2144981148, 2072500831, 210582468...",the reliability paradox why robust cognitive t...,Behavior Research Methods,"['cognitive', 'differences', 'individual', 'pa...",2018,72993866,-20.208
171793,171793,"[{'AuId': 2789239093, 'S': 1, 'AuN': 'p valent...",NaN,23,2018-02-10,50,"[{'FId': 26448091, 'FN': 'osmoprotectant'}, {'...",2791549042,"{'JN': 'plant soil and environment', 'JId': 93...","[1978487812, 2039731523, 1927158303, 215956261...",effect of osmotic stress on compatible solutes...,Plant Soil and Environment,"['compatible', 'content', 'cultivars', 'effect...",2018,88406861,-20.521

In [129]:
# create month field
df["Month"] = pd.to_datetime(df["Date"]).dt.month

In [130]:
df['Month'].head(5)

0    1
1    2
2    3
3    4
4    8
Name: Month, dtype: int64

In [123]:
def clean_data(df):
    #removing kesEntityId as simillar fields are already present
    df.drop(columns=["Row_num","kesEntityId"],inplace=True)
    df["Popularity"] = df["Popularity"].apply(pd.to_numeric,downcast='float')
    df["Year"] = df["Year"].apply(pd.to_numeric,downcast='unsigned')
    df["Month"] = df["Month"].apply(pd.to_numeric,downcast='unsigned')

In [124]:
clean_data(df)