In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas.io.json import json_normalize
import json
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("./Data"))
# print(os.listdir("../input/2011-data/"))
# print(os.listdir("../input/mag-2011"))

# Any results you write to the current directory are saved as output.

['umass-citation', 'CiteScore_Metrics_2011-2017_Download_25May2018.xlsx', 'ProcessedScopusData.csv', 'PublicationScoreBook.csv', 'CodePublicationMatching.txt', 'umass-citation.tar.gz', 'cora-ie.tar.gz', 'cora-ie']

In [170]:
# JSON_COLUMNS = ["AA","F","J"]
# df = pd.read_csv("../input/mag-2011/mag_2011.csv",converters={column: json.loads for column in JSON_COLUMNS})
df = pd.read_csv("../Data/mag-2011/mag_2011.csv")

In [172]:
df.shape

(1177000, 16)

In [173]:
df.head()

   Unnamed: 0   ...   logprob
0           0   ...   -13.274
1           1   ...   -13.460
2           2   ...   -13.508
3           3   ...   -13.524
4           4   ...   -13.924

[5 rows x 16 columns]

In [174]:
df.isna().sum()

Unnamed: 0           0
AA                   0
C              1115805
CC                   0
D                    0
ECC                  0
F                 6085
Id                   0
J               374096
RId             186434
Ti                   0
VFN             276961
W                   12
Y                    0
kesEntityId          0
logprob              0
dtype: int64

In [175]:
def preprocess(df):
    df = df.drop(['C','J'],axis = 1)
    df = df.dropna(subset=['RId','F','VFN','W'])
    return df

In [176]:
df = preprocess(df)

In [177]:
df.isna().sum()

Unnamed: 0     0
AA             0
CC             0
D              0
ECC            0
F              0
Id             0
RId            0
Ti             0
VFN            0
W              0
Y              0
kesEntityId    0
logprob        0
dtype: int64

In [157]:
df.head()

   Unnamed: 0   ...   logprob
0           0   ...   -13.274
1           1   ...   -13.460
2           2   ...   -13.508
6           6   ...   -14.161
7           7   ...   -14.513

[5 rows x 14 columns]

In [178]:
df_pub = pd.read_csv("../input/scopus-data/ProcessedScopusData.csv")

In [179]:
df_pub.head()

   Unnamed: 0          ...                     Subject Area
0           0          ...                         Medicine
1           1          ...                         Medicine
2           2          ...                         Medicine
3           3          ...                  Social Sciences
4           4          ...            Environmental Science

[5 rows x 23 columns]

In [207]:
def append_pub_score(df):
    print("Unique Publications from Scopus:",len(df_pub.Title.unique()))
    # Analysing Common Publications
    vfn_list = df.VFN.unique().tolist()
    scopus_list = df_pub.Title.unique().tolist()
    count = 0
    for pub in scopus_list:
        if pub in vfn_list:
            count +=1
    print("Publications present in Dataset:",count)
    print("Shape Before",df.shape)
    df = df[df.VFN.isin(scopus_list)]
    print("Shape After",df.shape)
    #score appending
    score_dict = pd.Series(df_pub.SJR.values,index=df_pub.Title).to_dict()
    df["Publication_Rank"] = df.apply(lambda row: score_dict[row["VFN"]],axis = 1)
    return df

def extract_field(row):
    val = row["F"]
    index = val.rfind("FN")
    val = val[index+3:len(val)]
    val = val.strip(":}] '")
    return val

In [186]:
df = append_pub_score(df)

Unique Publications from Scopus: 1231
Publications present in Dataset: 883
Shape Before (105906, 14)
Shape After (105906, 14)

In [209]:
df["Subject Field"] = df.apply(lambda row:extract_field(row),axis=1)

In [210]:
df.head()

    Unnamed: 0        ...            Subject Field
0            0        ...         computer science
2            2        ...                  biology
6            6        ...                 medicine
7            7        ...         computer science
28          28        ...                 medicine

[5 rows x 16 columns]

In [212]:
df["Subject Field"].unique()

array(['computer science', 'biology', 'medicine', 'mathematics',
       'psychology', 'materials science', 'geology', 'physics',
       'chemistry', 'environmental science', 'economics',
       'distributed computing', 'nanotechnology', 'business', 'geography',
       'engineering', 'optics', 'political science', 'applied psychology',
       'sociology', 'ecology', 'mineralogy', 'expansive', 'agronomy',
       'creatures', 'composite material', 'social psychology',
       'geomorphology', 'history', 'neuroscience', 'environmental ethics',
       'elaboration', 'socioeconomics', 'environmental engineering',
       'crystallography', 'innovator', 'oceanography',
       'spatial configuration', 'transferability',
       'environmental protection', 'management science',
       'atmospheric sciences', 'analytical chemistry', 'lanperisone',
       'twenty first century', 'physiology', 'scientific study',
       'philosophy', 'climatology', 'physical chemistry',
       'theoretical computer science', 'plakobranchidae',
       'public administration', 'applied mathematics', 'aka',
       'amphicoelias', 'caffeyl alcohol', 'subbarao', 'archaeology',
       'insulacebus', 'art', 'pure mathematics', 'chemical engineering',
       'phidiana militaris', 'misfortune', 'smardaea', 'eremoryzomys',
       'natural phenomenon', 'performance art', 'micryletta',
       'meteorology', 'ivesheadiomorphs', 'vahlkampfia avara',
       'structural approach', 'zoology', 'paleontology',
       'agricultural economics', 'cartography', 'environmental economics',
       'geranosaurus', 'rubrobacteridae', 'archaius',
       'actinocyclus papillatus', 'moggridgea tingle',
       'gegeneophis seshachari', 'vectisuchus', 'colobosauroides',
       'cognitive science', 'social science', 'teinopalpus',
       'eurolimnornis', 'quadrina', 'macroplata', 'chatterjee',
       'qiliania', 'tehuelchesaurus', 'proctonotidae',
       'leptobrachium chapaense', 'papuascincus', 'qalyub virus',
       'kovalevisargidae', 'neolitsea daibuensis',
       'legionella fairfieldensis', 'pietraroiasuchus', 'exact science',
       'amalocichla', 'sclerobunus robustus', 'suaeda taxifolia',
       'jainosaurus', 'ansonia muelleri', 'tritoniopsis elegans',
       'inyoka', 'firewood gatherer', 'happy wren', 'palaeoconchus',
       'mantidactylus aerumnalis', 'monopis monachella',
       'viola abyssinica'], dtype=object)

In [213]:
df.shape

(105906, 16)