In [57]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pandas.io.json import json_normalize
import json
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))
print(os.listdir("../input/2011-data/"))
print(os.listdir("../input/mag-2011"))

# Any results you write to the current directory are saved as output.

['scopus-data', '2014-data', '2011-data', 'mag-2011']
['2011.json']
['mag_2011.csv']

In [58]:
# JSON_COLUMNS = ["AA","F","J"]
# df = pd.read_csv("../input/mag-2011/mag_2011.csv",converters={column: json.loads for column in JSON_COLUMNS})
df = pd.read_csv("../input/mag-2011/mag_2011.csv")

In [59]:
df.shape

(1177000, 16)

In [60]:
# Make more sensible column names
rename_dict = {"AA": "Authors", 
               "C": "Conference", 
               "CC": "Citation_count", 
               "D": "Date", 
               "F": "Domain", 
               "J": "Journal", 
               "RId": "References", 
               "Ti": "Title", 
               "VFN": "Venue", 
               "W": "Words", 
               "Y": "Year", 
               "logprob":"Popularity",
               "Unnamed: 0": "Row_num"}
df.rename(index=str, columns=rename_dict, inplace=True)

In [61]:
df.head()

   Row_num    ...     Popularity
0        0    ...        -13.274
1        1    ...        -13.460
2        2    ...        -13.508
3        3    ...        -13.524
4        4    ...        -13.924

[5 rows x 16 columns]

In [62]:
df.isna().sum()

Row_num                 0
Authors                 0
Conference        1115805
Citation_count          0
Date                    0
ECC                     0
Domain               6085
Id                      0
Journal            374096
References         186434
Title                   0
Venue              276961
Words                  12
Year                    0
kesEntityId             0
Popularity              0
dtype: int64

In [63]:
def preprocess(df):
    df = df.dropna(subset=['Venue'])
    return df

In [64]:
df = preprocess(df)

In [65]:
df.isna().sum()

Row_num                0
Authors                0
Conference        838853
Citation_count         0
Date                   0
ECC                    0
Domain              1558
Id                     0
Journal            97186
References         84460
Title                  0
Venue                  0
Words                  7
Year                   0
kesEntityId            0
Popularity             0
dtype: int64

In [66]:
df.head()

   Row_num    ...     Popularity
0        0    ...        -13.274
1        1    ...        -13.460
2        2    ...        -13.508
5        5    ...        -13.963
6        6    ...        -14.161

[5 rows x 16 columns]

In [67]:
df_pub = pd.read_csv("../input/scopus-data/ProcessedScopusData.csv")

In [68]:
df_pub.head()

   Unnamed: 0          ...                     Subject Area
0           0          ...                         Medicine
1           1          ...                         Medicine
2           2          ...                         Medicine
3           3          ...                  Social Sciences
4           4          ...            Environmental Science

[5 rows x 23 columns]

In [70]:
def append_pub_score(df):
    print("Unique Publications from Scopus:",len(df_pub.Title.unique()))
    # Analysing Common Publications
    vfn_list = df.Venue.unique().tolist()
    scopus_list = df_pub.Title.unique().tolist()
    count = 0
    for pub in scopus_list:
        if pub in vfn_list:
            count +=1
    print("Publications present in Dataset:",count)
    print("Shape Before",df.shape)
    df = df[df.Venue.isin(scopus_list)]
    print("Shape After",df.shape)
    #score appending
    score_dict = pd.Series(df_pub.SJR.values,index=df_pub.Title).to_dict()
    df["Publication_Rank"] = df.apply(lambda row: score_dict[row["Venue"]],axis = 1)
    return df

def extract_field(row):
    val = row["Domain"]
    index = val.rfind("FN")
    val = val[index+3:len(val)]
    val = val.strip(":}] '")
    return val

def get_num_authors(row):
    vals = row["Authors"].split("},")
    return len(vals)

In [71]:
df = append_pub_score(df)

Unique Publications from Scopus: 1231
Publications present in Dataset: 896
Shape Before (900039, 16)
Shape After (123825, 16)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [79]:
label_dict = {"C":0,"J":1,"CJ":2,"O":3}
def find_conference_type(row):
    if pd.isnull(row["Conference"]) and pd.isnull(row["Journal"]):
        return label_dict["O"]
    elif pd.isnull(row["Conference"]):
        return label_dict["J"]
    elif pd.isnull(row["Journal"]):
        return label_dict["C"]
    else:
        return label_dict["CJ"]

In [80]:
df["Publication Type"] = df.apply(lambda row:find_conference_type(row),axis=1)

In [81]:
df["Number_Of_authors"] = df.apply(lambda row:get_num_authors(row), axis = 1)

In [ ]:
# df["Subject Field"] = df.apply(lambda row:extract_field(row),axis=1)

In [82]:
df.head()

    Row_num        ...        Number_Of_authors
0         0        ...                        2
2         2        ...                        7
6         6        ...                        3
7         7        ...                       16
28       28        ...                        2

[5 rows x 19 columns]

In [84]:
df.shape

(123825, 19)

In [87]:
def tidy_split(df, column, sep='|', keep=False):
    indexes = list()
    id_values = list()
    name_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            id_values.append(presplit)
        for value in values:
            indexes.append(i)
            val = value
            index1 = val.find("AuId")
            index2 = val.find("AfN")
            index3 = val.find("'S'")
            if index3 < index1:
                val = val[index1+4:index2]
                val = val.strip("', :")
            else:
                val = val[index1+4:index3]
                val = val.strip("', :")                
            id_values.append(val)
            index1 = value.find("AuN")
            val = value[index1+3:]
            val = val.strip("': }]")
            name_values.append(val)
    new_df = df.iloc[indexes, :].copy()
    new_df[column+"_Id"] = id_values
    new_new_df = new_df.iloc[:, :].copy()
    new_new_df[column+"_Name"] = name_values
    return new_new_df

In [88]:
df_big = tidy_split(df,"Authors","},")

In [89]:
df_big.head(10)

   Row_num        ...               Authors_Name
0        0        ...            chihchung chang
0        0        ...                chihjen lin
2        2        ...            koichiro tamura
2        2        ...            koichiro tamura
2        2        ...            daniel peterson
2        2        ...          nicholas peterson
2        2        ...               glen stecher
2        2        ...              masatoshi nei
2        2        ...               sudhir kumar
6        6        ...            douglas hanahan

[10 rows x 21 columns]

In [56]:
df_big.shape

(4714564, 19)